<div class="widgets">
  <div class="row">
    <ba-card [cardTitle]="formHeader" baCardClass="with-scroll" class="col-md-12">
      <div class="panel panel-default">
        <form>
          <div *ngIf="(!profileEditMode && selectedUser._id != null)" class="form-group">
            <label>Id</label>
            <input type="text" class="form-control" required placeholder="Id" [(ngModel)]="selectedUser._id" name="_id" disabled="disabled"
            />
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" required placeholder="Name" [(ngModel)]="selectedUser.name" name="name" />
          </div>
          <div *ngIf="!profileEditMode" class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" required placeholder="Email" [(ngModel)]="selectedUser.email" name="email" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" required [placeholder]="passwordPlaceholder" [(ngModel)]="selectedUser.password"
              name="password" />
          </div>
          <div *ngIf="!profileEditMode" class="form-group">
            <label>Enabled</label>
            <select class="selectpicker form-control" required title="Select status" [(ngModel)]="selectedUser.enabled" name="enabled">
              <option [value]="true">Enabled</option>
              <option [value]="false">Disabled</option>
            </select>
          </div>
          <div *ngIf="!profileEditMode" class="form-group">
            <label>Authorities</label>
            <select class="selectpicker form-control" multiple="true" required title="Select authorities" [(ngModel)]="selectedUser.authorities"
              name="authorities">
                <option *ngFor="let authority of authorityList" [value]="authority">{{authority}}</option>
            </select>
          </div>
          <div *ngIf="!profileEditMode" class="form-group">
            <label>Groups</label>
            <tag-input [(ngModel)]="selectedUser.groupAsStringList" name="groupAsStringList" [modelAsStrings]="true" [editable]="true" [separatorKeys]="[32]" placeholder="+Groups (Enter separated)" secondaryPlaceholder="Add groups" theme="minimal" class="custom-input-tag-border"></tag-input>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-default" (click)="goBack()">
              Cancel
            </button>
            <button *ngIf="!profileEditMode && updateMode" type="button" class="btn btn-danger" (click)="deleteUser()">
              Delete User
            </button>
            <button type="button" class="btn btn-primary" (click)="updateUser()">
              {{buttonName}}
            </button>
          </div>
        </form>
      </div>
    </ba-card>
  </div>
</div>