<input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" />

<br>
<table class="table table-striped" [mfData]="rawDataArray | universalDataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
  [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
  <thead>
    <tr>
      <th>
        <mfDefaultSorter by="">
            <b>Business Key</b>
        </mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="">
            <b>Process</b>
        </mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="">
            <b>Task</b>
        </mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="">
            <b>Status</b>
        </mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="">
            <b>Start Time</b>
        </mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="">
            <b>Assigned Group</b>
        </mfDefaultSorter>
      </th>
      <th>
          <mfDefaultSorter by="">
              <b>Assigned To</b>
          </mfDefaultSorter>
        </th>
      <th>
        <mfDefaultSorter by="">
            <b>Flagged</b>
        </mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="">
            <b>Flag Level</b>
        </mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="">
            <b>Escalated</b>
        </mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="">
            <b>Action</b>
        </mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of mf.data">
      <td>{{s.businessKey}}</td>
      <td>{{s.machineLabel}}</td>
      <td>{{s.stateCd}}</td>
      <td>{{s.statusCd}}</td>
      <td>{{s.startTimeLong | amDateFormat: 'DD/MM/YYYY hh:mm A'}}</td>
      <td>{{s.assignedUserGroupCd}}</td>
      <td>{{s.assignedUserDisplayName}}</td>
      <td>{{s.flagged}}</td>
      <td>{{s.iterationLevel}}</td>
      <td>{{s.escalatedFlag}}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary" title="View" (click)="onSelect(s)">
            <i class="ion-eye"></i>
          </button>
        </div>
      </td>
    </tr>
    <tr *ngIf="mf.data.length === 0 && isLoading">
      <td colspan="100%">Loading...</td>
    </tr>
    <tr *ngIf="mf.data.length === 0 && !isLoading">
      <td colspan="100%">No records to display</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>