<input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" />
<br>
<table class="table table-striped" [mfData]="rawDataArray | universalDataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
  [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
  <thead>
    <tr>
      <th>
        <mfDefaultSorter by=""><h6><b>Process</b></h6></mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by=""><h6><b>Task</b></h6></mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by=""><h6><b>Status</b></h6></mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by=""><h6><b>Start Time</b></h6></mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by=""><h6><b>Assigned Group</b></h6></mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by=""><h6><b>Flagged</b></h6></mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by=""><h6><b>Flag Level</b></h6></mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by=""><h6><b>Escalated</b></h6></mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of mf.data" (click)="onSelect(s)">
      <td>{{s.machineLabel}}</td>
      <td>{{s.stateCd}}</td>
      <td>{{s.statusCd}}</td>
      <td>{{s.startTimeLong | amDateFormat: 'DD/MM/YYYY hh:mm A'}}</td>
      <td>{{s.assignedUserGroupCd}}</td>
      <td>{{s.flagged}}</td>
      <td>{{s.flagLevel}}</td>
      <td>{{s.escalatedFlag}}</td>
    </tr>
    <tr *ngIf="mf.data.length === 0 && isLoading">
      <td colspan="100%">Loading...</td>
    </tr>
    <tr *ngIf="mf.data.length === 0 && !isLoading">
      <td colspan="100%">No records to display</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>