<div class="widgets">
  <div class="row">
    <ba-card baCardClass="with-scroll" class="data-table-container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>{{tableTitle}}</h2>
        </div>
        <br>
        <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" />
        <br>
        <table class="table table-striped" [mfData]="rawDataArray | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
          [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="">Flow</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="">State</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="">Date</mfDefaultSorter>
              </th>
              <th *ngFor="let element of parameterKeys | keys">
                <mfDefaultSorter [by]="element.value">{{element.value}}</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of mf.data" (click)="onSelect(s)" data-toggle="modal" data-target="#detailsModal">
              <td>{{s.machineType}}</td>
              <td>{{s.stateCd}}</td>
              <td>{{s.startTime[0]}}-{{s.startTime[1]}}-{{s.startTime[2]}}</td>
              <td *ngFor="let element of parameterKeys | keys">{{s.parameters[element.value]}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </ba-card>
  </div>
</div>







<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" attr.aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="max-width: 90%">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="detailsModalLabel">
          Task - Details
        </h4>
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div>
          <h3>Qualify Queue business parameters received</h3>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#tab_content1" role="tab" aria-controls="details" aria-expanded="true">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="flow-tab" data-toggle="tab" href="#tab_content2" role="tab" aria-controls="flow">Flow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="analytics-tab" data-toggle="tab" href="#tab_content3" role="tab" aria-controls="analytics">Analytics</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div role="tabpanel" class="tab-pane fade show active" id="tab_content1" aria-labelledby="details-tab">
            <form>
              <div *ngIf="selectedState" class="form-group">
                <label class="control-label" for="last-name">Date</label>
                <input type="text" id="lead-date" name="lead-date" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.startTime[0]}}-{{selectedState.startTime[1]}}-{{selectedState.startTime[2]}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.userName" class="form-group">
                <label class="control-label" for="first-name">Name</label>
                <input type="text" id="first-name" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12" value="{{selectedState.parameters.userName}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.designation" class="form-group">
                <label class="control-label" for="last-name">Position</label>
                <input type="text" id="last-name" name="last-name" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters.designation}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.txnValue" class="form-group">
                <label class="control-label" for="last-name">Business Value</label>
                <input type="text" id="business-value" name="business-value" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters.txnValue}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.contactno" class="form-group">
                <label class="control-label" for="last-name">Contact No</label>
                <input type="text" id="contact" name="contact" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters.contactno}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.email" class="form-group">
                <label class="control-label" for="last-name">E-mail</label>
                <input type="text" id="e-mail" name="e-mail" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters.email}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.interestedIn" class="form-group">
                <label class="control-label" for="last-name">Interested In:</label>
                <input type="text" id="interestedIn" name="interestedIn" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters.interestedIn}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['decision']" class="form-group">
                <label class="control-label">Decision</label>
                <select name="decision" [(ngModel)]="selectedState.parameters['decision']" class="form-control" required>
                  <option value="">Choose..</option>
                  <option value="Classify">Classify</option>
                  <option value="Lead">Lead</option>
                  <option value="Visitor">Visitor</option>
                  <option value="Qualify">Qualify</option>
                  <option value="Archive">Archive</option>
                  <option value="Email">Email</option>
                  <option value="Research">Research</option>
                </select>
              </div>
              <div *ngIf="selectedState && selectedState.predictedParameters && selectedState.predictedParameters['decision']" class="form-group">
                <label class="control-label">Predicted Decision</label>
                <input type="text" id="interestedIn" name="interestedIn" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.predictedParameters['decision']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['USERNAME']" class="form-group">
                <label class="control-label" for="last-name">Name</label>
                <input type="text" id="name" name="name" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters['USERNAME']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['DOB']" class="form-group">
                <label class="control-label" for="last-name">Date of Birth</label>
                <input type="text" id="name" name="name" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters['DOB']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['TYPEOFQUERY']" class="form-group">
                <label class="control-label" for="last-name">Type of Query</label>
                <input type="text" id="typeofquery" name="typeofquery" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters['TYPEOFQUERY']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['AMOUNT']" class="form-group">
                <label class="control-label" for="last-name">Amount</label>
                <input type="text" id="amount" name="amount" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters['AMOUNT']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['EMAIL']" class="form-group">
                <label class="control-label" for="last-name">E-mail</label>
                <input type="text" id="email" name="email" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters['EMAIL']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['PHONE']" class="form-group">
                <label class="control-label" for="last-name">Phone</label>
                <input type="text" id="phone" name="phone" required="required" disabled="disabled" class="form-control col-md-7 col-xs-12"
                  value="{{selectedState.parameters['PHONE']}}">
              </div>
              <div *ngIf="selectedState  && selectedState.parameters['RISK_ASSESSMENT']" class="form-group">
                <label class="control-label">Decision</label>
                <select name="decision" [(ngModel)]="selectedState.parameters['RISK_ASSESSMENT']" class="form-control" required>
                  <option value="RISKAPPROVED">Approve</option>
                  <option value="RISKREJECTED">Reject</option>
                </select>
              </div>
              <div *ngIf="selectedState  && selectedState.parameters['KYC']  && selectedState.parameters['INCOMEPROOF']" class="form-group">
                <label class="control-label">Documents Submitted</label>
                <div class="thumbnail">
                  <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="{{selectedState.parameters['KYC']}}" alt="image" />
                    <div class="mask">
                      <p>KYC Document</p>
                    </div>
                  </div>
                  <div class="caption">
                    <p>Kyc Document</p>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedState && selectedState.parameters['INCOMEPROOF']" class="col-md-3 col-sm-3 col-xs-12">
                <div class="thumbnail">
                  <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="{{selectedState.parameters['INCOMEPROOF']}}" alt="image" />
                    <div class="mask">
                      <p>Income Proof</p>
                    </div>
                  </div>
                  <div class="caption">
                    <p>Income Proof</p>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedState && selectedState.parameters['APPROVALLETTERURL']" class="form-group">
                <label class="control-label">Approval Document</label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <img style="width: 100%; display: block;" src="{{selectedState.parameters['APPROVALLETTERURL']}}" alt="image" />
                      <div class="mask">
                        <p>Approval Document</p>
                      </div>
                    </div>
                    <div class="caption">
                      <p>Approval Document</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ln_solid"></div>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="flow-tab">
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="businessParamAccordion">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#businessParamAccordionBody" aria-expanded="true" aria-controls="businessParamAccordionBody">
                    Business Parameters
                  </a>
                  </h5>
                </div>
                <div id="businessParamAccordionBody" class="collapse show" role="tabpanel" aria-labelledby="businessParamAccordion">
                  <div class="card-block">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Parameter</th>
                          <th>Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">SLA</th>
                          <td>1 Hr</td>
                        </tr>
                        <tr>
                          <th scope="row">Owner</th>
                          <td>Admin</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="flowDiagramAccordion">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#flowDiagramAccordionBody" aria-expanded="false"
                      aria-controls="flowDiagramAccordionBody">
                      Flow Diagram
                  </a>
                  </h5>
                </div>
                <div id="flowDiagramAccordionBody" class="collapse" role="tabpanel" aria-labelledby="flowDiagramAccordion">
                  <div class="card-block">
                    <div id="graphContainer" style="position:relative;width:100%;height:100%;cursor:default;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="analytics-tab">
            <p>Tab 3 Details</p>
          </div>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer" id="settingsModalFooter">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" (click)="save()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
