<div class="widgets">
  <div class="row">
    <ba-card baCardClass="with-scroll" class="data-table-container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>{{tableTitle}}</h2>
        </div>
        <br>
        <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" />
        <br>
        <table class="table table-striped" [mfData]="rawDataArray | universalDataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
          [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="">Flow</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="">State</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="">Date Time</mfDefaultSorter>
              </th>
              <th *ngFor="let element of parameterKeys | keys">
                <mfDefaultSorter [by]="element.value">{{element.value}}</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of mf.data" (click)="onSelect(s)" data-toggle="modal" data-target="#detailsModal">
              <td>{{s.machineType}}</td>
              <td>{{s.stateCd}}</td>
              <td>{{s.startTime[0]}}/{{s.startTime[1]}}/{{s.startTime[2]}} {{s.startTime[3]}}:{{s.startTime[4]}}</td>
              <td *ngFor="let element of parameterKeys | keys">{{s.parameters[element.value]}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </ba-card>
  </div>
</div>




<!--  --------------------------Modal page start------------------------------------   -->


<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" attr.aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="max-width: 90%">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="detailsModalLabel">
          Task - Details
        </h4>
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <div>
          <h3>Task Queue business parameters received</h3>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#tab_content1" role="tab" aria-controls="details" aria-expanded="true">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="flow-tab" data-toggle="tab" href="#tab_content2" role="tab" aria-controls="flow">Flow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="analytics-tab" data-toggle="tab" href="#tab_content3" role="tab" aria-controls="analytics">Analytics</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div role="tabpanel" class="tab-pane fade show active" id="tab_content1" aria-labelledby="details-tab">
            <form  *ngIf="selectedState">
              <div *ngFor="let element of parameterKeys | keys" class="form-group">
                  <label>{{element.value}}</label>
                  <input type="text" id="first-name" required="required" class="form-control" value="{{selectedState.parameters[element.value]}}">
              </div>
              <div *ngIf="selectedState" class="form-group">
                <label>Date Time</label>
                <input type="text" id="lead-date" name="lead-date" required="required"   class="form-control"
                  value="{{selectedState.startTime[0]}}/{{selectedState.startTime[1]}}/{{selectedState.startTime[2]}}  {{selectedState.startTime[3]}}:{{selectedState.startTime[4]}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.designation" class="form-group">
                <label>Position</label>
                <input type="text" id="last-name" name="last-name" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.parameters.designation}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.txnValue" class="form-group">
                <label>Business Value</label>
                <input type="text" id="business-value" name="business-value" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.parameters.txnValue}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.contactno" class="form-group">
                <label>Contact No</label>
                <input type="text" id="contact" name="contact" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.parameters.contactno}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.email" class="form-group">
                <label>E-mail</label>
                <input type="text" id="e-mail" name="e-mail" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.parameters.email}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters.interestedIn" class="form-group">
                <label>Interested In:</label>
                <input type="text" id="interestedIn" name="interestedIn" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.parameters.interestedIn}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['decision']" class="form-group">
                <label>Decision</label>
                <select name="decision" [(ngModel)]="selectedState.parameters['decision']" class="form-control" required>
                  <option value="">Choose..</option>
                  <option value="Classify">Classify</option>
                  <option value="Lead">Lead</option>
                  <option value="Visitor">Visitor</option>
                  <option value="Qualify">Qualify</option>
                  <option value="Archive">Archive</option>
                  <option value="Email">Email</option>
                  <option value="Research">Research</option>
                </select>
              </div>
              <div *ngIf="selectedState && selectedState.predictedParameters && selectedState.predictedParameters['decision']" class="form-group">
                <label>Predicted Decision</label>
                <input type="text" id="interestedIn" name="interestedIn" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.predictedParameters['decision']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['DOB']" class="form-group">
                <label>Date of Birth</label>
                <input type="text" id="name" name="name" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.parameters['DOB']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['TYPEOFQUERY']" class="form-group">
                <label>Type of Query</label>
                <input type="text" id="typeofquery" name="typeofquery" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.parameters['TYPEOFQUERY']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['AMOUNT']" class="form-group">
                <label>Amount</label>
                <input type="text" id="amount" name="amount" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.parameters['AMOUNT']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['EMAIL']" class="form-group">
                <label>E-mail</label>
                <input type="text" id="email" name="email" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.parameters['EMAIL']}}">
              </div>
              <div *ngIf="selectedState && selectedState.parameters['PHONE']" class="form-group">
                <label>Phone</label>
                <input type="text" id="phone" name="phone" required="required" disabled="disabled" class="form-control"
                  value="{{selectedState.parameters['PHONE']}}">
              </div>
              <div *ngIf="selectedState  && selectedState.parameters['RISK_ASSESSMENT']" class="form-group">
                <label>Decision</label>
                <select name="decision" [(ngModel)]="selectedState.parameters['RISK_ASSESSMENT']" class="form-control" required>
                  <option value="RISKAPPROVED">Approve</option>
                  <option value="RISKREJECTED">Reject</option>
                </select>
              </div>
              <div *ngIf="selectedState  && selectedState.parameters['KYC']  && selectedState.parameters['INCOMEPROOF']" class="form-group">
                <label>Documents Submitted</label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <img style="width: 100%; display: block;" src="{{selectedState.parameters['KYC']}}" alt="image" />
                      <div class="mask">
                        <p>KYC Document</p>
                      </div>
                    </div>
                    <div class="caption">
                      <p>Kyc Document</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <img style="width: 100%; display: block;" src="{{selectedState.parameters['INCOMEPROOF']}}" alt="image" />
                      <div class="mask">
                        <p>Income Proof</p>
                      </div>
                    </div>
                    <div class="caption">
                      <p>Income Proof</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedState && selectedState.parameters['APPROVALLETTERURL']" class="form-group">
                <label>Approval Document</label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <img style="width: 100%; display: block;" src="{{selectedState.parameters['APPROVALLETTERURL']}}" alt="image" />
                      <div class="mask">
                        <p>Approval Document</p>
                      </div>
                    </div>
                    <div class="caption">
                      <p>Approval Document</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ln_solid"></div>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="flow-tab">
            <!-- <div id="graphContainer" style="position:relative;width:100%;height:100%;cursor:default;"></div> -->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="editorGrid" class="col-md-12 col-sm-12 col-xs-12" style="height:68vh;overflow:hidden;margin-bottom:5px;"></div>
              <div id="outlineContainer" style="z-index:1;position:absolute;overflow:hidden;top:0px;right:0;width:160px;height:120px;background:transparent;border-style:solid;border-color:lightgray;"></div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="analytics-tab">
            <p>Tab 3 Details</p>
          </div>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer" id="settingsModalFooter">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" (click)="save()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>