<div class="widgets">
    <div class="row">
        <ba-card [cardTitle]="'API'" baCardClass="with-scroll" class="col-md-12">
            <form class="row form-inline">
                <div class="form-group col-sm-10">
                    <input class="form-control" [(ngModel)]="filterQuery" name="filterQuery" placeholder="Filter Design" />
                </div>
            </form>
            <br>
            
            <table class="table table-striped" [mfData]="businessObjects | universalDataFilter : filterQuery" #mfBusinessObjects="mfDataTable" [mfRowsOnPage]="10" mfSortBy="displayName">
                <thead>
                    <tr>
                        <td><mfDefaultSorter by="name">Name</mfDefaultSorter></td>
                        <td><mfDefaultSorter by="algorithmCategory">Category</mfDefaultSorter></td>
                        <td><mfDefaultSorter by="createdTime">Created At</mfDefaultSorter></td>
                        <td><mfDefaultSorter by="modifiedTime">Modified At</mfDefaultSorter></td>
                        <td><mfDefaultSorter by="selfTrain">self Train</mfDefaultSorter></td>
                        <td>Active Version</td>
                        <td>Algorithms</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let businessObj of mfBusinessObjects.data" (click)="onBusinessObjectSelect(businessObj)">
                        <td>{{ businessObj.displayName }}</td>
                        <td>{{ businessObj.algorithmCategory }}</td>
                        <td>{{ businessObj.createdTime }}</td>
                        <td>{{ businessObj.modifiedTime }}</td>
                        <td>{{ businessObj.selfTrain }}</td>
                        <td>{{ getActiveVersion(businessObj) }}</td>
                        <td>
                            <!-- <table> -->
                                <tr *ngFor="let algo of businessObj.algorithms">
                                    <td>
                                        {{ getAlgorithmName(algo) }}
                                    </td>
                                </tr>
                            <!-- </table> -->
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100%">
                        <mfBootstrapPaginator [rowsOnPageSet]="[2,10,25,50,100]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </ba-card>
    </div>
</div>