<!-- page content -->

<div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-default btn-with-icon" style="margin-right: 5px" (click)="clearAllData()"><i class="ion-ios-refresh"></i>Reset</button>
    <button type="button" class="btn btn-default btn-with-icon" style="margin-right: 5px" (click)="saveOnServer()" *ngIf="!readOnly"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
    <button type="button" class="btn btn-default btn-with-icon" style="margin-right: 5px" (click)="prepareDummyObject()" *ngIf="!readOnly" data-toggle="modal" data-target="#settignsModal"><i class="fa fa-cogs" aria-hidden="true"></i>Settings</button>
    <button type="button" class="btn btn-default btn-with-icon" style="margin-right: 5px" (click)="toolsChoice(ZOOM_IN)"><i class="fa fa-search-plus" aria-hidden="true"></i>Zoom In</button>
    <button type="button" class="btn btn-default btn-with-icon" style="margin-right: 5px" (click)="toolsChoice(ZOOM_OUT)"><i class="fa fa-search-minus" aria-hidden="true"></i>Zoom Out</button>
    <button type="button" class="btn btn-default btn-with-icon" style="margin-right: 5px" (click)="toolsChoice(ZOOM_ACTUAL)"><i class="ion-arrow-expand"></i>Zoom Actual</button>
    <button type="button" class="btn btn-default btn-with-icon" style="margin-right: 5px" (click)="toolsChoice(PRINT_PREVIEW)"><i class="ion-printer"></i>Print Preview</button>
  </div>
  <br>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div id="editorGrid" class="col-md-12 col-sm-12 col-xs-12" style="height:68vh;overflow:hidden;margin-bottom:5px;"></div>
    <div id="outlineContainer" style="z-index:1;position:absolute;overflow:hidden;top:0px;right:0;width:160px;height:120px;background:transparent;border-style:solid;border-color:lightgray;"></div>
  </div>
</div>

<!-- Modal - Add State -->
<div class="modal fade" id="stateModal" tabindex="-1" role="dialog" attr.aria-labelledby="stateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="stateModalLabel">
          {{stateDialogTitle}}
        </h4>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body" id="modal_body">
        <form>
          <div class="form-group">
            <label for="inputStateCode">State Code</label>
            <input type="text" class="form-control" required id="inputStateCode" placeholder="State Code" [(ngModel)]="tempState.stateCd"
              name="stateCd" />
          </div>
          <div class="form-group">
            <label for="selectStateType">State Type</label>
            <select class="selectpicker form-control" required id="selectStateType" title="Choose State Type" [(ngModel)]="tempState.type"
              name="type">
                <option *ngFor="let stateType of sourceStateTypes" [value]="stateType">{{stateType}}</option>
              </select>
          </div>
          <div class="form-group" *ngIf="tempState.allocationMode !== null && tempState.type === 'Manual'">
            <label for="selectAllocationType">Allocation Type</label>
            <select class="selectpicker form-control" required id="selectAllocationType" title="Choose Allocation Type" [(ngModel)]="tempState.allocationModel.allocationType"
              name="allocationType">
                <option *ngFor="let allocationType of allocationTypes" [value]="allocationType">{{allocationType}}</option>
              </select>
          </div>
          <div class="form-group" *ngIf="tempState.allocationMode !== null && tempState.type === 'Manual' && tempState.allocationModel.allocationType === 'Group'">
            <label for="allocationGroup">Allocate to group</label>
            <input type="text" class="form-control" required id="allocationGroup" placeholder="Allocate to group" [(ngModel)]="tempState.allocationModel.allocationGroup"
              name="allocationGroup" />
          </div>
          <div class="form-group" *ngIf="tempState.allocationMode !== null && tempState.type === 'Manual'  && tempState.allocationModel.allocationType === 'API'">
            <label for="api">API</label>
            <input type="text" class="form-control" required id="api" placeholder="API" [(ngModel)]="tempState.allocationModel.api"
              name="api" />
          </div>
          <!-- <div class="form-group" *ngIf="tempState.allocationMode !== null && tempState.type === 'Manual' && (tempState.allocationModel.allocationType === 'Least_Allocated' || tempState.allocationModel.allocationType === 'Maximum_Efficiency')">
            <label for="groups">Groups</label>
            <tag-input [(ngModel)]="tempState.allocationModel.groups" name="groups" [modelAsStrings]="true" [editable]="true" [separatorKeys]="[32]" placeholder="+Groups (Enter separated)" secondaryPlaceholder="Add groups" theme="minimal" class="custom-input-tag-border"></tag-input>
          </div> -->
          <div class="form-group">
            <label for="selectStateTrigger">State Trigger</label>
            <select class="selectpicker form-control" required id="selectStateTrigger" title="Choose trigger for this state" [(ngModel)]="tempState.trigger"
              name="trigger">
                <option *ngFor="let event of tempParentState.events" [ngValue]="event">{{event.eventCd}}</option>
              </select>
          </div>
          <div class="form-group">
            <label for="selectClassifiers">Classifiers</label>
            <select multiple="true" class="selectpicker form-control" required id="selectClassifiers" title="Choose Classifiers" [(ngModel)]="tempState.classifiers"
              name="classifiers">
                <option *ngFor="let classifier of sourceClassifiers" [ngValue]="classifier">{{classifier.apiName}}</option>
              </select>
          </div>
          <div class="form-group">
            <label for="selectEntryActions">Entry Actions</label>
            <select multiple="true" class="selectpicker form-control" required id="selectEntryActions" title="Choose Entry Actions" [(ngModel)]="tempState.entryActionList"
              name="entryActionList">
                <option *ngFor="let entryAction of sourceEntryActionList" [ngValue]="entryAction['key']">{{entryAction['value']}}</option>
              </select>
          </div>
          <div class="form-group" *ngIf="isStateApiCompatible()">
            <label for="selectApiConfig">Select API</label>
            <select multiple="true" class="selectpicker form-control" required id="selectApiConfig" title="Choose API" [(ngModel)]="tempState.apiConfigurationList"
              name="apiConfigurationList">
                <option *ngFor="let apiConfig of sourceApiConfigList" [ngValue]="apiConfig._id">{{apiConfig.name}}</option>
              </select>
          </div>
          

        </form>

        <div id="ruleAccordion" role="tablist" aria-multiselectable="true" *ngIf="isStateRuleCompatible()">
          <div class="panel card">
            <div id="ruleTabHeader" class="card-header" heightStyle="content" role="tab">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#ruleAccordion" href="#ruleCollapse" aria-expanded="true" aria-controls="ruleCollapse">
                  Rule Expressions
                </a>
              </h5>
            </div>

            <div id="ruleCollapse" class="collapse show" role="tabpanel" aria-labelledby="ruleTabHeader">
              <div class="card-block">
                <table class="table" [mfData]="tempState.ruleList" [mfRowsOnPage]="5">
                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>Key to save Result</th>
                      <th>Expression</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rule of tempState.ruleList">
                      <td>
                        <button type="button" class="btn btn-danger" title="Delete" (click)="removeRule(rule)"><i class="ion-close-round"></i></button>
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder="Key" [value]="rule.key" (input)="rule.key = $event.target.value">
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder="Expression" [value]="rule.expression" (input)="rule.expression = $event.target.value"/>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                      </td>
                      <td colspan="1" style="text-align: right;">
                        <button type="button" class="btn btn-primary" (click)="addRule()">Add Rule</button>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div id="eventAccordion" role="tablist" aria-multiselectable="true" *ngIf="tempState.events.length > 0">
          <div *ngFor="let event of tempState.events; let eventIndex=index" class="panel">
            <div class="card">

              <div *ngIf="eventIndex == 0" [id]="'eventTabHeading' + eventIndex" class="card-header" heightStyle="content" role="tab">
                <h5 class="mb-0">
                  <a data-toggle="collapse" data-parent="#eventAccordion" [href]="'#eventCollapse' + eventIndex" aria-expanded="true" [attr.aria-controls]="'eventCollapse' + eventIndex">
                    {{event.eventCd}}
                  </a>
                </h5>
              </div>
              <div *ngIf="eventIndex != 0" [id]="'eventTabHeading' + eventIndex" class="card-header" heightStyle="content" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#eventAccordion" [href]="'#eventCollapse' + eventIndex" aria-expanded="false"
                    [attr.aria-controls]="'eventCollapse' + eventIndex">
                    {{event.eventCd}}
                  </a>
                </h5>
              </div>

              <div *ngIf="eventIndex == 0" [id]="'eventCollapse' + eventIndex" class="collapse show" role="tabpanel" [attr.aria-labelledby]="'eventTabHeading' + eventIndex">
                <div class="card-block">
                  <form>
                    <div class="form-group">
                      <label for="inputEventCode">
                        Event Code
                      </label>
                      <input type="text" class="form-control" id="inputEventCode" placeholder="Event Code" [(ngModel)]="event.eventCd" name="eventCd"
                      />
                    </div>
                    <div class="form-group">
                      <label for="inputOperand">
                        Operand
                      </label>
                      <select class="selectpicker form-control" required id="inputOperand" title="Select Operand" [(ngModel)]="event.operand" name="operand">
                        <option *ngFor="let operand of sourceOperands" [value]="operand">{{operand}}</option>
                      </select>
                    </div>

                    <div [id]="'expAccordion' + eventIndex" role="tablist" aria-multiselectable="true" *ngIf="event.expressionList.length > 0">
                      <div *ngFor="let expression of event.expressionList; let expIndex=index" class="panel">
                        <div class="card">
                          <div *ngIf="expIndex == 0" [id]="'event' + eventIndex + 'expTabHeading' + expIndex" class="card-header" heightStyle="content"
                            role="tab">
                            <h5 class="mb-0">
                              <a data-toggle="collapse" [attr.data-parent]="'#expAccordion' + eventIndex" [href]="'#event' + eventIndex + 'expCollapse' + expIndex"
                                aria-expanded="true" [attr.aria-controls]="'event' + eventIndex + 'expCollapse' + expIndex">
                                {{expression.value}}
                              </a>
                            </h5>
                          </div>
                          <div *ngIf="expIndex != 0" [id]="'event' + eventIndex + 'expTabHeading' + expIndex" class="card-header" heightStyle="content"
                            role="tab">
                            <h5 class="mb-0">
                              <a class="collapsed" data-toggle="collapse" [attr.data-parent]="'#expAccordion' + eventIndex" [href]="'#event' + eventIndex + 'expCollapse' + expIndex"
                                aria-expanded="false" [attr.aria-controls]="'event' + eventIndex + 'expCollapse' + expIndex">
                                {{expression.value}}
                              </a>
                            </h5>
                          </div>

                          <div *ngIf="expIndex == 0" [id]="'event' + eventIndex + 'expCollapse' + expIndex" class="collapse show" role="tabpanel" [attr.aria-labelledby]="'event' + eventIndex + 'expTabHeading' + expIndex">
                            <div class="card-block">
                              <form>
                                <div class="form-group">
                                  <label required [for]="'expValue' + expIndex">
                                    Value
                                  </label>
                                  <input type="text" class="form-control" required [id]="'expValue' + expIndex" placeholder="Value" [(ngModel)]="expression.value"
                                    name="value" />
                                </div>
                                <div class="form-group" *ngIf="event.expressionList.length > 1">
                                  <button type="button" class="btn btn-danger" (click)="deleteExpression(expression, event)">
                                    Remove Expression
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div *ngIf="expIndex != 0" [id]="'event' + eventIndex + 'expCollapse' + expIndex" class="collapse" role="tabpanel" [attr.aria-labelledby]="'event' + eventIndex + 'expTabHeading' + expIndex">
                            <div class="card-block">
                              <form>
                                <div class="form-group">
                                  <label required [for]="'expValue' + expIndex">
                                      Value
                                    </label>
                                  <input type="text" class="form-control" required [id]="'expValue' + expIndex" placeholder="Value" [(ngModel)]="expression.value"
                                    name="value" />
                                </div>
                                <div class="form-group" *ngIf="event.expressionList.length > 1">
                                  <button type="button" class="btn btn-danger" (click)="deleteExpression(expression, event)">
                                      Remove Expression
                                    </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <button type="button" class="btn btn-danger" *ngIf="tempState.events.length > 1" (click)="deleteEvent(event)">
                        Remove Event
                      </button>
                      <button type="button" class="btn btn-primary" (click)="addExpression(event)">
                        Add Expression
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div *ngIf="eventIndex != 0" [id]="'eventCollapse' + eventIndex" class="collapse" role="tabpanel" [attr.aria-labelledby]="'eventTabHeading' + eventIndex">
                <div class="card-block">
                  <form>
                    <div class="form-group">
                      <label for="inputEventCode">
                        Event Code
                      </label>
                      <input type="text" class="form-control" id="inputEventCode" placeholder="Event Code" [(ngModel)]="event.eventCd" name="eventCd"
                      />
                    </div>
                    <div class="form-group">
                      <label for="inputOperand">
                        Operand
                      </label>
                      <select class="selectpicker form-control" required id="inputOperand" title="Select Operand" [(ngModel)]="event.operand" name="operand">
                        <option *ngFor="let operand of sourceOperands" [value]="operand">{{operand}}</option>
                      </select>
                    </div>

                    <div [id]="'expAccordion' + eventIndex" role="tablist" aria-multiselectable="true" *ngIf="event.expressionList.length > 0">
                      <div *ngFor="let expression of event.expressionList; let expIndex=index" class="panel">
                        <div class="card">
                          <div *ngIf="expIndex == 0" [id]="'event' + eventIndex + 'expTabHeading' + expIndex" class="card-header" heightStyle="content"
                            role="tab">
                            <h5 class="mb-0">
                              <a data-toggle="collapse" [attr.data-parent]="'#expAccordion' + eventIndex" [href]="'#event' + eventIndex + 'expCollapse' + expIndex"
                                aria-expanded="true" [attr.aria-controls]="'event' + eventIndex + 'expCollapse' + expIndex">
                                {{expression.value}}
                              </a>
                            </h5>
                          </div>
                          <div *ngIf="expIndex != 0" [id]="'event' + eventIndex + 'expTabHeading' + expIndex" class="card-header" heightStyle="content"
                            role="tab">
                            <h5 class="mb-0">
                              <a class="collapsed" data-toggle="collapse" [attr.data-parent]="'#expAccordion' + eventIndex" [href]="'#event' + eventIndex + 'expCollapse' + expIndex"
                                aria-expanded="false" [attr.aria-controls]="'event' + eventIndex + 'expCollapse' + expIndex">
                                {{expression.value}}
                              </a>
                            </h5>
                          </div>

                          <div *ngIf="expIndex == 0" [id]="'event' + eventIndex + 'expCollapse' + expIndex" class="collapse show" role="tabpanel" [attr.aria-labelledby]="'event' + eventIndex + 'expTabHeading' + expIndex">
                            <div class="card-block">
                              <form>
                                <div class="form-group">
                                  <label required [for]="'expValue' + expIndex">
                                    Value
                                  </label>
                                  <input type="text" class="form-control" required [id]="'expValue' + expIndex" placeholder="Value" [(ngModel)]="expression.value"
                                    name="value" />
                                </div>
                                <div class="form-group" *ngIf="event.expressionList.length > 1">
                                  <button type="button" class="btn btn-danger" (click)="deleteExpression(expression, event)">
                                    Remove Expression
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div *ngIf="expIndex != 0" [id]="'event' + eventIndex + 'expCollapse' + expIndex" class="collapse" role="tabpanel" [attr.aria-labelledby]="'event' + eventIndex + 'expTabHeading' + expIndex">
                            <div class="card-block">
                              <form>
                                <div class="form-group">
                                  <label required [for]="'expValue' + expIndex">
                                      Value
                                    </label>
                                  <input type="text" class="form-control" required [id]="'expValue' + expIndex" placeholder="Value" [(ngModel)]="expression.value"
                                    name="value" />
                                </div>
                                <div class="form-group" *ngIf="event.expressionList.length > 1">
                                  <button type="button" class="btn btn-danger" (click)="deleteExpression(expression, event)">
                                      Remove Expression
                                    </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <button type="button" class="btn btn-danger" *ngIf="tempState.events.length > 1" (click)="deleteEvent(event)">
                        Remove Event
                      </button>
                      <button type="button" class="btn btn-primary" (click)="addExpression(event)">
                        Add Expression
                      </button>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>

      <!-- Modal Footer -->
      <div class="modal-footer" id="modal_footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#eventModal" (click)="addEvent()">Add Event</button> -->
        <button type="button" class="btn btn-primary" (click)="addEvent()">Add Event</button>
        <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="saveState()">{{stateDialogButtonName}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Settings -->
<div class="modal fade" id="settignsModal" tabindex="-1" role="dialog" attr.aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="settingsModalLabel">
          Settings
        </h4>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-md-12 col-sm-12 col-xs-12" for="inputMachineLabel">
              Machine Label
            </label>
            <input type="text" class="col-md-12 col-sm-12 col-xs-12 form-control" id="inputMachineLabel" placeholder="Machine Label" [(ngModel)]="tempGraphObject.machineLabel"
              name="machineLabel" />
          </div>
          <div class="form-group">
            <label class="col-md-12 col-sm-12 col-xs-12" for="inputMachineType">
              Machine Type
            </label>
            <input *ngIf="graphObject.machineType && graphObject.machineType.length > 0" disabled type="text" class="col-md-12 col-sm-12 col-xs-12 form-control" id="inputMachineType" placeholder="Machine Name" [(ngModel)]="tempGraphObject.machineType"
              name="machineType" />
            <input *ngIf="!graphObject.machineType || graphObject.machineType.length == 0" type="text" class="col-md-12 col-sm-12 col-xs-12 form-control" id="inputMachineType" placeholder="Machine Name" [(ngModel)]="tempGraphObject.machineType"
              name="machineType" />
          </div>
          <div class="form-group">
            <label class="col-md-12 col-sm-12 col-xs-12" for="inputVersionNumber">
              Version Number
            </label>
            <input type="number" disabled class="col-md-12 col-sm-12 col-xs-12 form-control" id="inputVersionNumber" placeholder="Version Number"
              min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
              [(ngModel)]="tempGraphObject.version" name="version" />
          </div>
          <div class="form-group">
            <label class="col-md-12 col-sm-12 col-xs-12" for="inputStatus">
              Status
            </label>
            <select disabled="true" class="col-md-12 col-sm-12 col-xs-12 selectpicker form-control" id="inputStatus" title="Select Status">
                <option *ngFor="let status of sourceStatusCodes" [value]="status">{{status}}</option>
              </select>
          </div>
        </form>

        <div id="dpAccordion" role="tablist" aria-multiselectable="true" *ngIf="tempGraphObject.dataPointConfigurationList.length > 0">
          <div *ngFor="let dataPoint of tempGraphObject.dataPointConfigurationList; let index=index" class="panel">
            <div class="card">
              <div *ngIf="index == 0" [id]="'dpTabHeading' + index" class="card-header" heightStyle="content" role="tab">
                <h5 class="mb-0">
                  <a data-toggle="collapse" data-parent="#dpAccordion" [href]="'#dpCollapse' + index" aria-expanded="true" [attr.aria-controls]="'dpCollapse' + index"
                    (click)="selectedDataPoint=dataPoint">
                    {{dataPoint.dataPointName}}
                  </a>
                </h5>
              </div>
              <div *ngIf="index != 0" [id]="'dpTabHeading' + index" class="card-header" heightStyle="content" role="tab">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#dpAccordion" [href]="'#dpCollapse' + index" aria-expanded="false"
                    [attr.aria-controls]="'dpCollapse' + index" (click)="selectedDataPoint=dataPoint">
                    {{dataPoint.dataPointName}}
                  </a>
                </h5>
              </div>

              <div *ngIf="index == 0" [id]="'dpCollapse' + index" class="collapse show" role="tabpanel" [attr.aria-labelledby]="'dpTabHeading' + index">
                <div class="card-block">
                  <form>
                    <div class="form-group">
                      <label class="col-md-12 col-sm-12 col-xs-12" required [for]="'dpInputName' + index">
                          Name
                        </label>
                      <input type="text" class="col-md-12 col-sm-12 col-xs-12 form-control" required [id]="'dpInputName' + index" placeholder="Name"
                        [(ngModel)]="dataPoint.dataPointName" name="dataPointName" />
                    </div>
                    <div class="form-group">
                      <label class="col-md-12 col-sm-12 col-xs-12" [for]="'dpInputExpression' + index">
                          Expression
                        </label>
                      <input type="text" class="col-md-12 col-sm-12 col-xs-12 form-control" required [id]="'dpInputExpression' + index" placeholder="Expression"
                        [(ngModel)]="dataPoint.expression" name="expression" />
                    </div>
                    <div class="form-group" *ngIf="tempGraphObject.dataPointConfigurationList.length > 1">
                      <button type="button" class="btn btn-danger" (click)="deleteDataPoint(dataPoint)">
                          Remove Data Point
                        </button>
                    </div>
                  </form>
                </div>
              </div>
              <div *ngIf="index != 0" [id]="'dpCollapse' + index" class="collapse" role="tabpanel" [attr.aria-labelledby]="'dpTabHeading' + index">
                <div class="card-block">
                  <form>
                    <div class="form-group">
                      <label class="col-md-12 col-sm-12 col-xs-12" required [for]="'dpInputName' + index">
                          Name
                        </label>
                      <input type="text" class="col-md-12 col-sm-12 col-xs-12 form-control" required [id]="'dpInputName' + index" placeholder="Name"
                        [(ngModel)]="dataPoint.dataPointName" name="dataPointName" />
                    </div>
                    <div class="form-group">
                      <label class="col-md-12 col-sm-12 col-xs-12" [for]="'dpInputExpression' + index">
                          Expression
                        </label>
                      <input type="text" class="col-md-12 col-sm-12 col-xs-12 form-control" required [id]="'dpInputExpression' + index" placeholder="Expression"
                        [(ngModel)]="dataPoint.expression" name="expression" />
                    </div>
                    <div class="form-group" *ngIf="tempGraphObject.dataPointConfigurationList.length > 1">
                      <button type="button" class="btn btn-danger" (click)="deleteDataPoint(dataPoint)">
                          Remove Data Point
                        </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer" id="settingsModalFooter">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button> -->
        <button type="button" class="btn btn-primary" id="addDataPointButton" (click)="addNewDataPoint()">
          Add Data Point
        </button>
        <button type="button" class="btn btn-success" id="saveChangesButton" (click)="save()" data-dismiss="modal">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- /page content -->