<div class="widgets">
  <div class="row">
    <ba-card baCardClass="with-scroll" class="data-table-container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>State Machines</h2>
        </div>
        <br>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab_active" role="tab" aria-expanded="true">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_archived" role="tab">Archived</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_dictionary" role="tab">Dictionary</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="tab_active">
            <table class="table table-striped" [mfData]="activeGraphObjectList | universalDataFilter : filterQuery" #mfActive="mfDataTable" [mfRowsOnPage]="rowsOnPage"
              [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th colspan="5">
                    <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" />
                  </th>
                </tr>
                <tr>
                  <th>
                    <mfDefaultSorter by="machineLabel">Machine Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="machineType">Machine Type</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter [by]="toInt">Version</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="statusCd">Status</mfDefaultSorter>
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let graph of mfActive.data" data-toggle="modal">
                  <td>{{graph.machineLabel}}</td>
                  <td>{{graph.machineType}}</td>
                  <td>{{graph.version}}</td>
                  <td>{{graph.statusCd}}</td>
                  <td *ngIf="graph.statusCd === DRAFT">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="Edit" (click)="onSelect(graph, OPEN_IN_EDIT_MODE)"><i class="ion-edit"></i></button>
                      <button type="button" class="btn btn-primary" title="Publish" (click)="onSelect(graph)" data-toggle="modal" data-target="#finalWarningModal"><i class="fa fa-check-square-o"></i></button>
                    </div>
                  </td>
                  <td *ngIf="graph.statusCd === CLOSED">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="View" (click)="onSelect(graph, OPEN_IN_READONLY_MODE)"><i class="ion-eye"></i></button>
                      <button type="button" class="btn btn-primary" title="Activate" (click)="activateFlow(graph)"><i class="ion-power"></i></button>
                      <button type="button" class="btn btn-primary" title="Clone" (click)="onSelect(graph, CLONE_AND_EDIT_MODE)"><i class="fa fa-clone"></i></button>
                    </div>
                  </td>
                  <td *ngIf="graph.statusCd === ACTIVE">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="View" (click)="onSelect(graph, OPEN_IN_READONLY_MODE)"><i class="ion-eye"></i></button>
                      <button type="button" class="btn btn-primary" title="Deactivate" (click)="deactivateFlow(graph)"><i class="ion-close-round"></i></button>
                      <button type="button" class="btn btn-primary" title="Clone" (click)="onSelect(graph, CLONE_AND_EDIT_MODE)"><i class="fa fa-clone"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_archived">
            <table class="table table-striped" [mfData]="closedGraphObjectList | universalDataFilter : filterQuery" #mfClosed="mfDataTable" [mfRowsOnPage]="rowsOnPage"
              [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th colspan="5">
                    <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" />
                  </th>
                </tr>
                <tr>
                  <th>
                    <mfDefaultSorter by="machineType">Machine Type</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter [by]="toInt">Version</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="statusCd">Status</mfDefaultSorter>
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let graph of mfClosed.data">
                  <td>{{graph.machineType}}</td>
                  <td>{{graph.version}}</td>
                  <td>{{graph.statusCd}}</td>
                  <td *ngIf="graph.statusCd === DRAFT">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="Edit" (click)="onSelect(graph, OPEN_IN_EDIT_MODE)"><i class="ion-edit"></i></button>
                      <button type="button" class="btn btn-primary" title="Publish" (click)="onSelect(graph)" data-toggle="modal" data-target="#finalWarningModal"><i class="fa fa-check-square-o"></i></button>
                    </div>
                  </td>
                  <td *ngIf="graph.statusCd === CLOSED">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="View" (click)="onSelect(graph, OPEN_IN_READONLY_MODE)"><i class="ion-eye"></i></button>
                      <button type="button" class="btn btn-primary" title="Activate" (click)="activateFlow(graph)"><i class="ion-power"></i></button>
                      <button type="button" class="btn btn-primary" title="Clone" (click)="onSelect(graph, CLONE_AND_EDIT_MODE)"><i class="fa fa-clone"></i></button>
                    </div>
                  </td>
                  <td *ngIf="graph.statusCd === ACTIVE">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="View" (click)="onSelect(graph, OPEN_IN_READONLY_MODE)"><i class="ion-eye"></i></button>
                      <button type="button" class="btn btn-primary" title="Deactivate" (click)="deactivateFlow(graph)"><i class="ion-close-round"></i></button>
                      <button type="button" class="btn btn-primary" title="Clone" (click)="onSelect(graph, CLONE_AND_EDIT_MODE)"><i class="fa fa-clone"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_dictionary">
            <table class="table table-striped" [mfData]="dictionaryGraphObjectList | universalDataFilter : filterQuery" #mfDictionary="mfDataTable" [mfRowsOnPage]="rowsOnPage"
              [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th colspan="5">
                    <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" />
                  </th>
                </tr>
                <tr>
                  <th>
                    <mfDefaultSorter by="machineType">Machine Type</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter [by]="toInt">Version</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="statusCd">Status</mfDefaultSorter>
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let graph of mfDictionary.data">
                  <td>{{graph.machineType}}</td>
                  <td>{{graph.version}}</td>
                  <td>{{graph.statusCd}}</td>
                  <td *ngIf="graph.statusCd === ACTIVE">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="View" (click)="onSelect(graph, OPEN_IN_READONLY_MODE)"><i class="ion-eye"></i></button>
                      <button type="button" class="btn btn-primary" title="Clone" (click)="onSelect(graph, CLONE_AND_EDIT_MODE)"><i class="fa fa-clone"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        
      </div>


    </ba-card>
  </div>
</div>


<div class="modal fade" id="finalWarningModal" tabindex="-1" role="dialog" attr.aria-labelledby="finalWarningLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="finalWarningLabel">
            Warning
          </h4>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
  
        <!-- Modal Body -->
        <div class="modal-body" id="modal_body">
          Once it is finalised it can no longer be edited and you have to clone it and create a new copy of it to make any further changes. This will create a new version of the flow. Are you sure you want to finalise the flow?
        </div>
  
        <!-- Modal Footer -->
        <div class="modal-footer" id="modal_footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="activateFlow(selectedGraphObject, 'finalWarningModal')">Finalise</button>
        </div>
      </div>
    </div>
  </div>