<header class="header">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
    <api-alert></api-alert>
  </div>
</header>
<div class="auth-main row">
  <div class="col-lg-4 col-md-4 col-sm-4"></div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="card">
      <!-- <img class="card-img-top" style="width: 30rem; height: 5rem;" src="/assets/img/blue-bg.jpg" alt="APi Flow"> -->
      <div class="card-block">
        <h3 translate>{{'Forgot Password'}}</h3>
        <br>
        <hr />
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
          <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
            <div class="offset-1 col-sm-10">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="{{'login.email' | translate}}">
              </div>
            </div>
          </div>
          <hr />
          <div class="form-group row">
            <div class="offset-1 col-1">
              <button [disabled]="!form.valid" type="submit" class="btn btn-outline-success btn-auth" translate>{{'Submit'}}</button>
            </div>
            <div class="col-4">
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div class="col-6">
              <a routerLink="/login" class="forgot-pass" translate>{{'Login?'}}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
  </div>
  <!-- <a routerLink="/register" class="auth-link" translate>{{'login.signup_link'}}</a> -->
  <footer class="al-footer clearfix">
    <div class="row">
      <div class="col-xlg-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">

      </div>
      <div class="col-xlg-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="al-copy">&copy; All rights reserved @
          <a href="http://www.automatapi.com" translate>{{'general.auto'}}</a> 2018</div>
      </div>
      <div class="col-xlg-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <!-- <ul class="al-share clearfix">
              <li><a href="https://www.facebook.com/automatapi/"><i class="socicon socicon-facebook"></i></a></li>
              <li><a href="https://twitter.com/AutomataPi"><i class="socicon socicon-twitter"></i></a></li>
          </ul> -->
      </div>
    </div>
    <!-- <div class="al-footer-right" translate>
    <div class="al-copy">&copy;<a href="http://www.automatapi.com" translate>{{'general.auto'}}</a> 2017</div>
  </div>
  <div class="al-footer-main clearfix">
    <ul class="al-share clearfix">
      <li><a href="https://www.facebook.com/automatapi/"><i class="socicon socicon-facebook"></i></a></li>
      <li><a href="https://twitter.com/AutomataPi"><i class="socicon socicon-twitter"></i></a></li>
    </ul>
  </div> -->
  </footer>