<div class="widgets">
  <div class="row">
    <ba-card cardTitle="All Domains" baCardClass="with-scroll" class="data-table-container">
      <div class="panel panel-default">
        <form class="row form-inline">
          <div class="form-group col-sm-10">
            <input class="form-control" [(ngModel)]="filterQuery" name="filterQuery" placeholder="Filter Domains" />
          </div>
          <div class="form-group col-sm-2">
            <button type="button" class="btn btn-primary" (click)="onDomainSelect()">
              Create Domain
            </button>
          </div>
        </form>
        <br>

        <table class="table table-striped" [mfData]="domainSource | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10" mfSortBy="name">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="desc">Description</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="langSupported">Languages Supported</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="domainGoals">Goals</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let domain of mf.data" (click)="onDomainSelect(domain)">
              <td>{{domain.name}}</td>
              <td>{{domain.desc}}</td>
              <td>{{arrayToString(domain.langSupported)}}</td>
              <td>{{domainGoalsToString(domain.domainGoals)}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="100%">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </ba-card>
  </div>
</div>