.modal-lg {
    max-width: 80% !important;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #fffefeef;
    width: 30%;
    
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.businesskey {
    color: rgb(95, 161, 236);
}



/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    
}

/* Style for master detail list card start */
.block {
    display: block;
    font-size: 14px;
    text-align: left;
}

.block.active {
    background-color: #cccccc;
}

.block:hover {
    background-color: #C8E1F7;
}
/* Style for master detail list card end */

:host /deep/ .widgets {
    .data-table-container {
        width: 100%;
        .panel-heading {
            margin-top: 25px;
        }
    }
  }

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

label.required:before {content: " *"; color: red;}

.atnBtn{
    position: fixed;
    top: 63px;
    left: 195px;
    width: 91%;
    padding: 13px 5px;
    z-index: 9;
    background: #eeeeee;
}
.messageholder{
    min-height: 500px;
}
.messageSwitcher{
    height: 75px;
    padding: 5px;
    margin-bottom: 15px;
    div.explain{
        color:#67A2E1;
        margin-top:20px;
    }
    a{
        font-size: 21px;
        width: 160px;
        display: inline-block;
        line-height: 26px;
        position: relative;
        height: 28px;
    }
    .dropdown-menu{
        top: 50%;
        width: 100%;
        li{
            // border-bottom: 1px solid #ececec;
            margin-bottom: 10px;
            :last-child{
                border-bottom: 0px;
            }
        }
    }
}
.defaultOpen{
    position: relative;
    .processbadge{
        position: absolute;
        top: 30px;
        font-size: 10px;
        letter-spacing: 1px;
    }
}
.detailsPane{
    background-color: #eeeeee;
}
