<ba-card cardTitle="apply filter">
    <div class="row">
        <div class="col-md-12" style="display: inline-flex;">
            <div class="col-md-4">
                <label for="selectmachinetype">Process</label>
                <select  class="form-control"  required id="selectmachinetype"  title="Choose Process" [(ngModel)]="businessProcessMonitorRequest.machineType" name="machineType">
                    <option *ngFor="let graphObj of graphObjects" [ngValue]="graphObj.machineType">{{ graphObj.machineLabel }}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="selectflowstatus">Process Status</label>
                <select  class="form-control"  required id="selectflowstatus"  title="Choose Status" [(ngModel)]="businessProcessMonitorRequest.flowStatus" name="flowStatus">
                    <option *ngFor="let status of flowstatuses" [ngValue]="status">{{ status }}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="selectdaterange">Select date range</label>
                <api-daterangepicker id="selectdaterange" [dateRange]="tempDateRange" (selectedRange)="setReportDateRange($event)"></api-daterangepicker>
            </div>
            
        </div>
        <div *ngFor="let outindex of divArray" class="col-md-12" style="display: inline-flex; margin-top: 20px;">
            <div *ngFor="let dataPoint of getBusinessDataPoint(outindex)" class="col-md-4">
                <label>{{ dataPoint.dataPointLabel }}</label>
                <select  class="form-control"  required id="selectflowstatus"  title="Choose Status" [(ngModel)]="businessProcessMonitorRequest.dataPoints[dataPoint.dataPointName]" name="dataPoints[dataPoint.dataPointName]">
                    <option *ngFor="let value of getBusinessDataPonitValuesFromDataPointKey(dataPoint.dataPointName)" [ngValue]="value">{{ value }}</option>
                </select>
            </div>
        </div>
        
    </div>
    <div class="form-group pull-right">
        <button type="button" class="btn btn-primary pull-right" (click)="submitfilter()">
                Submit
        </button>
        
    </div>
    
</ba-card>

<div class="row tile_count" *ngFor="let outIndex of noOfPercentagedivArray" >
    <div *ngFor="let data of getBusinessProcessPercentageChange(outIndex)" class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> {{  data.dataPointLabel }}</span>
        <div class="count">{{  data.count }}</div>
        <span *ngIf="data.percentageChange >= 0" class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>{{ data.percentageChange }}% </i> from last week</span>
        <span *ngIf="data.percentageChange < 0" class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>{{ data.percentageChange }}% </i> from last week</span>
    </div>
</div>
    