<div class="widgets" *ngIf="isCreated == false">
  <div class="row">
    <ba-card [cardTitle]="agentCreateMode ? 'Create Agent' : 'Update Agent'" baCardClass="with-scroll" class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="agentInfoTab" data-toggle="tab" href="#agentInfoContent" role="tab" aria-controls="agentInfo"
            aria-expanded="true">Agent Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="agentTrainingTab" data-toggle="tab" href="#agentTrainingContent" role="tab" aria-controls="agentTraining">Agent Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="agentPluginsTab" data-toggle="tab" href="#agentPluginsContent" role="tab" aria-controls="agentPlugins">Agent Plugins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="settingsTab" data-toggle="tab" href="#settingsContent" role="tab" aria-controls="settings">Settings</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="agentInfoContent" aria-labelledby="agentInfoTab">
          <div class="panel panel-default">
            <form>
              <div class="form-group">
                <label>Agent Name</label>
                <input type="text" class="form-control" required placeholder="Agent Name" [(ngModel)]="selectedAgent.name" name="name" />
              </div>
              <div class="form-group">
                <label>Agent Description</label>
                <input type="text" class="form-control" required placeholder="Agent Description" [(ngModel)]="selectedAgent.desc" name="desc"
                />
              </div>
              <div *ngIf="selectedAgent.agenturl && selectedAgent.agenturl.length > 0" class="form-group">
                <label>Agent URL</label>
                <input type="text" disabled class="form-control" placeholder="Agent URL" [(ngModel)]="selectedAgent.agenturl" name="agenturl"
                />
              </div>
              <div class="form-group">
                <label>Color CSS</label>
                <input type="text" class="form-control" required placeholder="Color CSS (Optional)" [(ngModel)]="selectedAgent.uiComponent.colorCss"
                  name="colorCss" />
              </div>
              <div class="form-group">
                <label>Font</label>
                <input type="text" class="form-control" required placeholder="Font (Optional)" [(ngModel)]="selectedAgent.uiComponent.font"
                  name="font" />
              </div>
              <div class="form-group">
                <label>Logo URL</label>
                <input type="text" class="form-control" required placeholder="Logo URL (Optional)" [(ngModel)]="selectedAgent.uiComponent.logoUrl"
                  name="logoUrl" />
              </div>
              <div class="form-group">
                <label>Typing GIF</label>
                <input type="text" class="form-control" required placeholder="Typing GIF (Optional)" [(ngModel)]="selectedAgent.uiComponent.typingGif"
                  name="typingGif" />
              </div>
              <div class="form-group">
                <label>Avatar URL</label>
                <input type="text" class="form-control" required placeholder="Avatar URL (Optional)" [(ngModel)]="selectedAgent.uiComponent.avatarUrl"
                  name="avatarUrl" />
              </div>
              <div class="form-group">
                <label>Agent Placeholder Text</label>
                <input type="text" class="form-control" required placeholder="Agent Placeholder Text (Optional)" [(ngModel)]="selectedAgent.uiComponent.placeHolderText"
                  name="placeHolderText" />
              </div>
              <div class="form-group">
                <label>Episode Idle Timeout (in Minutes)</label>
                <input type="number" class="form-control" required placeholder="Episode Idle Timeout (in Minutes)" [(ngModel)]="selectedAgent.uiComponent.episodeIdleTimeout"
                  name="episodeIdleTimeout" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                />
              </div>
              <div class="form-group">
                <label>Episode Close Timeout (in Minutes)</label>
                <input type="number" class="form-control" required placeholder="Episode Close Timeout (in Minutes)" [(ngModel)]="selectedAgent.uiComponent.episodeCloseTimeout"
                  name="episodeCloseTimeout" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                />
              </div>
              <div class="checkbox">
                <ba-checkbox [(ngModel)]="selectedAgent.uiComponent.delayInMessages" [label]="'Delay in messages'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
              </div>
              <div class="checkbox">
                <ba-checkbox [(ngModel)]="selectedAgent.uiComponent.cronEnabled" [label]="'Cron Enabled'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
              </div>
              <div class="checkbox">
                <ba-checkbox [(ngModel)]="selectedAgent.disabled" [label]="'Disable Agent'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
              </div>
              <div class="checkbox">
                <ba-checkbox [(ngModel)]="selectedAgent.debugMode" [label]="'Enable Debug Mode'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
              </div>
            </form>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="agentTrainingContent" aria-labelledby="agentTrainingTab">
          <div class="panel panel-default">
            <form>
              <div class="form-group">
                <label>Select Flows</label>
                <select class="selectpicker form-control" multiple="true" title="Select Flows" [(ngModel)]="selectedAgent.agentFlow" name="agentFlow">
                  <option *ngFor="let flow of flowSource" [ngValue]="flow.machineType">{{flow.machineType + ' v' + flow.version}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Select Default Language</label>
                <select class="selectpicker form-control" title="Select Language" [(ngModel)]="selectedAgent.defaultLanguage" name="defaultLanguage">
                  <option *ngFor="let lang of supportedLanguageSource" [ngValue]="lang">{{lang}}</option>
                </select>
              </div>
              <div class="form-group checkbox">
                <ba-checkbox [(ngModel)]="selectedAgent.autodetectLanguage" [label]="'Autodetect Language'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-md-3">
              <button *ngIf="!containsAll()" type="button" class="btn btn-primary" (click)="addAllDomain()">
                Add All
              </button>
              <button *ngIf="containsAll()" type="button" class="btn btn-default" (click)="removeAllDomain()">
                Remove All
              </button>
              <ul class="domain-list">
                <li *ngFor="let domain of domainSource" [class.selected]="domain === selectedDomain" (click)="onDomainSelect(domain)">
                  {{domain.name}}
                </li>
              </ul>
            </div>
            <div *ngIf="selectedDomain" class="col-md-8">
              <h3>
                Domain Details
              </h3>
              <form>
                <div class="form-group">
                  <label>Domain Name</label>
                  <input type="text" class="form-control" disabled placeholder="Domain Name" [value]="selectedDomain.name" name="name" />
                </div>
                <div class="form-group">
                  <label>Domain Description</label>
                  <input type="text" class="form-control" disabled placeholder="Domain Description" [value]="selectedDomain.desc" name="desc"
                  />
                </div>
                <div class="form-group">
                  <label>Language Supported</label>
                  <input type="text" class="form-control" disabled placeholder="Language Supported" [value]="arrayToString(selectedDomain.langSupported)"
                    name="langSupported" />
                </div>
                <div class="form-group">
                  <label>Goals</label>
                  <input type="text" class="form-control" disabled placeholder="Domain Goals" [value]="domainGoalsToString(selectedDomain.domainGoals)"
                    name="domainGoals" />
                </div>
                <div class="form-group">
                  <button *ngIf="!domainAddedToList()" type="button" class="btn btn-primary" (click)="addDomain()">
                    Add
                  </button>
                  <button *ngIf="domainAddedToList()" type="button" class="btn btn-default" (click)="removeDomain()">
                    Remove
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="agentPluginsContent" aria-labelledby="agentPluginsTab">
          <div class="panel panel-default">
            <div class="row">
              <form class="col-md-12">
                <fieldset class="form-group">
                  <legend>Facebook Messenger Plugin</legend>
                  <div *ngIf="facebookPlugin.webhook.length > 0" class="form-group">
                    <label>Webhook</label>
                    <input type="text" disabled class="form-control" placeholder="Webhook" [(ngModel)]="facebookPlugin.webhook" name="webhook">
                  </div>
                  <div class="form-group">
                    <label>API Token</label>
                    <input type="text" class="form-control" placeholder="API Token" [(ngModel)]="facebookPlugin.apitoken" name="apitoken">
                  </div>
                  <div class="form-group">
                    <label>Verification Key</label>
                    <input type="text" class="form-control" placeholder="Verification Key" [(ngModel)]="facebookPlugin.validation" name="validation">
                  </div>
                  <div class="form-group">
                    <label>Service Downtime Message</label>
                    <input type="text" class="form-control" placeholder="Service Downtime Message" [(ngModel)]="facebookPlugin.serviceDownMsg"
                      name="serviceDownMsg">
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="settingsContent" aria-labelledby="settingsTab">
          <div class="panel panel-default">
            <div class="row">
              <form class="col-md-6">
                <div class="checkbox">
                  <ba-checkbox [(ngModel)]="isWatsonEnabled" [label]="'Enable Watson'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
                </div>
                <fieldset *ngIf="isWatsonEnabled" class="form-group">
                  <div class="form-group">
                    <label>Workspace ID</label>
                    <input type="text" class="form-control" placeholder="Workspace ID" [(ngModel)]="watsonClassifier.classifierWorkspaceId" name="classifierWorkspaceId">
                  </div>
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="Username" [(ngModel)]="watsonClassifier.classifierUsername" name="classifierUsername">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="watsonClassifier.classifierPassword" name="classifierPassword">
                  </div>
                  <div class="form-group">
                    <label>Version</label>
                    <input type="text" class="form-control" placeholder="Version" [(ngModel)]="watsonClassifier.classifierVersion" name="classifierVersion">
                  </div>
                </fieldset>
              </form>
              <form class="col-md-6">
                <div class="checkbox">
                  <ba-checkbox [(ngModel)]="isApiEnabled" [label]="'Enable API'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
                </div>
                <fieldset *ngIf="isApiEnabled" class="form-group">
                  <div class="form-group">
                    <label>Service Url</label>
                    <input type="text" class="form-control" placeholder="Service Url" [(ngModel)]="apiClassifier.classifierServiceUrl" name="classifierServiceUrl">
                  </div>
                  <div class="form-group">
                    <label>Service Token</label>
                    <input type="text" class="form-control" placeholder="Service Token" [(ngModel)]="apiClassifier.classifierServiceToken" name="classifierServiceToken">
                  </div>
                </fieldset>
              </form>
            </div>
            <form>
              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="createAgent()">
                  {{agentCreateMode ? 'Create Agent' : 'Update Agent'}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ba-card>
  </div>
</div>

<div class="modal fade" id="successModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" attr.aria-labelledby="successModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="successModalLabel">
          {{isSuccess ? 'Success' : 'Error'}}
        </h4>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div *ngIf="isSuccess && facebookIntegrated">
          You have successfully {{agentCreateMode ? 'created' : 'updated'}} the agent. Following is the webhook for Facebook plugin
          integrated.
          <form>
            <div class="form-group">
              <label>Webhook</label>
              <input class="form-control" disabled placeholder="Webhook" disabled [value]="webhook" />
            </div>
          </form>
        </div>
        <div *ngIf="isSuccess && !facebookIntegrated">
          You have successfully {{agentCreateMode ? 'created' : 'updated'}} the agent.
        </div>
        <div *ngIf="!isSuccess">
          {{errorMessage}}
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="goToAgentsListing();">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="card" style="width: 100rem;" *ngIf="isCreated">
  <div class="card-body">
    <h5 class="card-title">Agent Url to use</h5>
    <p class="card-text">
      <b>{{autoUrl}}</b>
    </p>
    <button type="button" class="btn btn-success" style="display: block; text-align: center; margin: auto;  margin-bottom: 20px; width: 200px"
      (click)="goBack();">Got It</button>
  </div>
</div>
