<div class="widgets">
  <div class="row">
    <ba-card cardTitle="Intent Classification" baCardClass="with-scroll" class="data-table-container">
      <div class="panel panel-default">
        <form class="row form-inline">
          <div class="form-group col-sm-10">
            <input class="form-control" [(ngModel)]="filterQuery" name="filterQuery" placeholder="Filter Query" />
          </div>
          <div class="form-group col-sm-2">
            <button type="button" class="btn btn-primary" (click)="onSelect(null)" data-toggle="modal" data-target="#detailsModal">
              Add Intent
            </button>
          </div>
        </form>
        <br>

        <table class="table table-striped" [mfData]="intentList | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10"
          mfSortBy="_id">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="body.name">Intent</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="body.goals">Goals</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="body.tags">Tags</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let intentData of mf.data" (click)="onSelect(intentData)" data-toggle="modal" data-target="#detailsModal">
              <td>{{intentData.body.name}}</td>
              <td>{{arrayToString(intentData.body.goals)}}</td>
              <td>{{arrayToString(intentData.body.tags)}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="100%">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </ba-card>
  </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" attr.aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="detailsModalLabel">
          {{modalHeader}}
        </h4>
        <button type="button" class="close" data-dismiss="modal" [disabled]="loading">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form *ngIf="selectedIntent">
          <div class="form-group">
            <label>Intent</label>
            <input type="text" class="form-control" [(ngModel)]="selectedIntent.body.name" name="name" placeholder="Intent Name">
          </div>
          <div class="form-group">
            <label>Goals</label>
            <tag-input [(ngModel)]="selectedIntent.body.goals" name="goals" [modelAsStrings]="true" [editable]="true" [separatorKeys]="[32]" placeholder="+Goal" secondaryPlaceholder="Enter a new goal" theme="minimal" class="custom-input-tag-border"></tag-input>
          </div>
          <div class="form-group">
            <label>Tags</label>
            <tag-input [(ngModel)]="selectedIntent.body.tags" name="tags" [modelAsStrings]="true" [editable]="true" [separatorKeys]="[32]" placeholder="+Tag" secondaryPlaceholder="Enter a new tag" theme="minimal" class="custom-input-tag-border"></tag-input>
          </div>

          <div class="ln_solid"></div>
        </form>

        <!-- Modal Footer -->
        <div class="modal-footer" id="settingsModalFooter">
          <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="loading">Close</button>
          <button *ngIf="!createMode" type="button" class="btn btn-danger" (click)="deleteRecord()" [disabled]="loading">Delete</button>
          <button *ngIf="!createMode"type="submit" class="btn btn-success" (click)="updateRecord()" [disabled]="loading">Update</button>
          <button *ngIf="createMode"type="submit" class="btn btn-success" (click)="createRecord()" [disabled]="loading">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>