<div *ngIf="progressBarFlag">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;"
          aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">Loading...</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <br />
    </div>
  </div>
</div>
<div class="widgets">
  <ba-card baCardClass="with-scroll" class="data-table-container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-6">
            <h3>
              <b>State Information</b>
            </h3>
          </div>
          <div class="col-md-6 text-right">
          </div>
        </div>
      </div>
      <br>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="details-tab" data-toggle="tab" href="#tabDetails" role="tab"
            aria-controls="details">
            <b>Task details</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="timeline-tab" (click)="timeline(selectedState)" data-toggle="tab" href="#tabTimeline"
            role="tab" aria-controls="timeline">
            <b>Timeline</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="conversation-tab" data-toggle="tab" href="#tabConversation" role="tab"
            aria-controls="conversation" aria-expanded="true">
            <b>Conversation</b>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="flow-tab" data-toggle="tab" href="#tabFlow" role="tab" aria-controls="flow">
            <b>Process trail</b>
          </a>
        </li>
        <li class="nav-item" *ngIf="sourceEmailTrailList && sourceEmailTrailList.length > 0">
          <a class="nav-link" id="email-tab" data-toggle="tab" href="#tabEmail" role="tab" aria-controls="email">
            <b>Email trail</b>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div role="tabpanel" class="tab-pane fade show active" id="tabDetails" aria-labelledby="details-tab">
          <div class="row">
            <form>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button [disabled]="!isButtonEnabled"
                  *ngIf="taskDecision.isUpdateAllow(selectedState, TAB_ASSIGNED)"
                  type="button" class="btn btn-success btn-with-icon" (click)="updateFlow()">
                  <i class="ion-checkmark"></i>Update Process</button>
                <button [disabled]="!isButtonEnabled"
                  *ngIf="taskDecision.isAllocateAllow(selectedState, TAB_ASSIGNED, Users)"
                  type="button" data-toggle="modal" data-target="#userModal" class="btn btn-info btn-with-icon">
                  <i class="ion-person-add"></i>Allocate Team</button>
                <button [disabled]="!isButtonEnabled"
                  *ngIf="taskDecision.isReserveAllow(selectedState,TAB_ASSIGNED)"
                  type="button" (click)="reserve()" class="btn btn-primary btn-with-icon">
                  <i class="ion-archive"></i>Reserve Task</button>
                <button [disabled]="!isButtonEnabled"
                  *ngIf="taskDecision.isEscalteAllow(selectedState, TAB_ASSIGNED, userHierarchy)"
                  type="button" (click)="escalate()" class="btn btn-warning btn-with-icon">
                  <i class="ion-alert-circled"></i>Escalate Task</button>
                <button [disabled]="!isButtonEnabled" type="button" class="btn btn-warning btn-with-icon" title="Flag"
                  *ngIf="taskDecision.isFlagAllow(selectedState,TAB_ASSIGNED)"
                  data-toggle="modal" data-target="#flagTaskModal" data-backdrop="static" data-keyboard="false"
                  (click)="setFlagReason()">
                  <i class="ion-flag"></i>Flag Task</button>
                <button [disabled]="!isButtonEnabled" type="button" class="btn btn-danger btn-with-icon" title="Archive"
                  *ngIf="taskDecision.isFlagAllow(selectedState, TAB_ASSIGNED)"
                  data-toggle="modal" data-target="#archiveTaskWarningModal">
                  <i class="ion-ios-trash"></i>Archive Task</button>
              </div>
            </form>
          </div>
          <hr />
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card card-default">
                <div class="card-header">
                  <b>Input Parameters</b>
                </div>
                <div class="card-block">
                  <form class="row form-inline">
                    <div class="form-group col-md-12 alert-danger" style="margin-bottom: 10px;"
                      *ngIf="responseError && responseError.length > 0" [innerHTML]="responseError"></div>

                    <div class="form-group col-md-3 col-sm-6" style="margin-bottom: 10px;"
                      *ngFor="let dataPoint of dataPoints; let index = index">
                      <label
                        *ngIf="index % 2 === 0 && dataPoint.dataType !== 'ARRAY' && dataPoint.dataType !== 'ANY' ">{{dataPoint.dataPointLabel}}
                        :
                      </label>

                      <input *ngIf="index % 2 === 1 && (dataPoint.dataType === '' || dataPoint.dataType === 'STRING')"
                        type="text" class="form-control col-md-12 col-sm-12" [title]="dataPoint.description"
                        [placeholder]="dataPoint.description" [value]="dataPoint.value"
                        (input)="dataPoint.value = $event.target.value" />

                      <input *ngIf="index % 2 === 1 && dataPoint.dataType === 'NUMBER'" type="number"
                        class="form-control col-md-12 col-sm-12" [title]="dataPoint.description"
                        [placeholder]="dataPoint.description" [value]="dataPoint.value"
                        (input)="dataPoint.value = $event.target.value"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" />

                      <select *ngIf="index % 2 === 1 && dataPoint.dataType === 'BOOLEAN'"
                        class="selectpicker form-control col-md-12 col-sm-12" [title]="dataPoint.description"
                        [ngModel]="dataPoint.value" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="dataPoint.value = $event">
                        <option [ngValue]="true">True</option>
                        <option [ngValue]="false">False</option>
                      </select>

                      <select *ngIf="index % 2 === 1 && dataPoint.dataType === 'SINGLE_SELECT'"
                        class="selectpicker form-control col-md-12 col-sm-12" [title]="dataPoint.description"
                        [ngModel]="dataPoint.value" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="dataPoint.value = $event">
                        <option *ngFor="let choice of dataPoint.inputSource" [ngValue]="choice">{{choice}}</option>
                      </select>

                      <select *ngIf="index % 2 === 1 && dataPoint.dataType === 'MULTI_SELECT'" multiple="true"
                        class="selectpicker form-control col-md-12 col-sm-12" [title]="dataPoint.description"
                        [ngModel]="dataPoint.value" [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="dataPoint.value = $event">
                        <option *ngFor="let choice of dataPoint.inputSource" [ngValue]="choice">{{choice}}</option>
                      </select>

                      <tag-input
                        *ngIf="index % 2 === 1 && dataPoint.dataType === 'ARRAY' && dataPoint.value.length>0 && isString(dataPoint.value[0])"
                        class="custom-input-tag-border form-control col-md-12 col-sm-12" [title]="dataPoint.description"
                        [(ngModel)]="dataPoint.value" name="value" [modelAsStrings]="true" [editable]="true"
                        [separatorKeys]="[32]" [placeholder]="'+' + dataPoint.dataPointLabel + ' (Enter separated)'"
                        [secondaryPlaceholder]="'Enter ' + dataPoint.dataPointName + ' (Enter separated)'"
                        theme="minimal">
                      </tag-input>
                    </div>

                  </form>
                  <div *ngFor="let dataPoint of getUniqueDataPoints()">
                    <ng-container class="form-group col-md-12"
                      *ngIf="dataPoint.dataType === 'ARRAY' && dataPoint.value.length>0 && !isString(dataPoint.value[0])">
                      <label *ngIf="dataPoint.dataType === 'ARRAY'">{{ dataPoint.dataPointLabel }}</label>
                      <table class="table"
                        *ngIf="dataPoint.dataType === 'ARRAY' && dataPoint.value.length>0 && !isString(dataPoint.value[0])">
                        <thead>
                          <tr>
                            <th *ngFor="let key of getKeysForArrayDataType(dataPoint.value, dataPoint.dataPointName)">{{
                              key }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let value of getValueForArraydatatype(dataPoint.value, dataPoint.dataPointName)">
                            <td *ngFor="let v of value">{{ v }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </ng-container>

                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngIf="selectedState.predictedParameters" class="col-md-4 col-sm-12">
                  <div class="card card-default">
                    <div class="card-header">
                      <b>Predicted Parameters</b>
                    </div>
                    <div class="card-block">
                      <div class="row" *ngFor="let e of selectedState.predictedParameters | keys">
                        <div class="col-md-6 col-sm-12">
                          <label>{{e.key}}</label> :
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <label>{{e.value}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabConversation" aria-labelledby="conversation-tab">
          <div class="row">
            <ba-card class="col-md-6 col-sm-12" cardTitle="Episode Details">
              <form style="max-height: 400px; overflow:scroll">
                <div *ngIf="selectedEpisode && selectedEpisode.statusCd" class="form-group">
                  <label>Status</label>
                  <input class="form-control" placeholder="Status" disabled="disabled"
                    value="{{selectedEpisode.statusCd}}" />
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.intents && selectedEpisode.intents.length > 0"
                  class="form-group">
                  <label>Intents</label>
                  <select multiple class="form-control" disabled="disabled">
                    <option *ngFor="let intent of selectedEpisode.intents">{{intent}}</option>
                  </select>
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.entities && selectedEpisode.entities.length > 0"
                  class="form-group">
                  <label>Entities</label>
                  <select multiple class="form-control" disabled="disabled">
                    <option *ngFor="let entity of selectedEpisode.entities">{{entity}}</option>
                  </select>
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.mode" class="form-group">
                  <label>Mode</label>
                  <input class="form-control" placeholder="Mode" disabled="disabled" value="{{selectedEpisode.mode}}" />
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.startTime" class="form-group">
                  <label>Start Time</label>
                  <input class="form-control" placeholder="Start Time" disabled="disabled"
                    value="{{selectedEpisode.startTime | date: 'dd/MM/y, h:mm:ss a'}}" />
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.endTime" class="form-group">
                  <label>End Time</label>
                  <input class="form-control" placeholder="End Time" disabled="disabled"
                    value="{{selectedEpisode.endTime | date: 'dd/MM/y, h:mm:ss a'}}" />
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.goals && selectedEpisode.goals.length > 0"
                  class="form-group">
                  <label>Goals</label>
                  <select multiple class="form-control" disabled="disabled">
                    <option *ngFor="let goal of selectedEpisode.goals">{{goal.goalName}}</option>
                  </select>
                </div>
              </form>
            </ba-card>
            <ba-card baCardClass="with-scroll" class="data-table-container col-md-6 col-sm-12" cardTitle="Conversation">
              <form style="max-height: 400px; overflow:scroll">
                <thead>
                  <th style="width: 50%"></th>
                  <th style="width: 50%"></th>
                </thead>
                <tbody *ngFor="let message of chatMessageList">
                  <tr *ngIf="message.from === 'AUTO'">
                    <td align="left" style="width: 50%">
                      <div class="talk-bubble tri-right round top-left" style="background-color: #E4E4E4">
                        <div class="talktext">
                          <div [innerHTML]="message.messageText"></div>
                        </div>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <tr *ngIf="message.from !== 'AUTO'">
                    <td></td>
                    <td align="right" style="width: 50%">
                      <div class="talk-bubble tri-right round top-right" style="background-color: #B9F1FB">
                        <div class="talktext">
                          <p *ngIf="message.displayText && message.displayText.trim().length > 0">
                            {{message.displayText}}</p>
                          <p *ngIf="!message.displayText || message.displayText.trim().length === 0">
                            {{message.messageText}}</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </form>
            </ba-card>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabConversation" aria-labelledby="conversation-tab">
          <div class="row">
            <ba-card class="col-md-6 col-sm-12" cardTitle="Episode Details">
              <form style="max-height: 400px; overflow:scroll">
                <div *ngIf="selectedEpisode && selectedEpisode.statusCd" class="form-group">
                  <label>Status</label>
                  <input class="form-control" placeholder="Status" disabled="disabled"
                    value="{{selectedEpisode.statusCd}}" />
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.intents && selectedEpisode.intents.length > 0"
                  class="form-group">
                  <label>Intents</label>
                  <select multiple class="form-control" disabled="disabled">
                    <option *ngFor="let intent of selectedEpisode.intents">{{intent}}</option>
                  </select>
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.entities && selectedEpisode.entities.length > 0"
                  class="form-group">
                  <label>Entities</label>
                  <select multiple class="form-control" disabled="disabled">
                    <option *ngFor="let entity of selectedEpisode.entities">{{entity}}</option>
                  </select>
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.mode" class="form-group">
                  <label>Mode</label>
                  <input class="form-control" placeholder="Mode" disabled="disabled" value="{{selectedEpisode.mode}}" />
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.startTime" class="form-group">
                  <label>Start Time</label>
                  <input class="form-control" placeholder="Start Time" disabled="disabled"
                    value="{{selectedEpisode.startTime | date: 'dd/MM/y, h:mm:ss a'}}" />
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.endTime" class="form-group">
                  <label>End Time</label>
                  <input class="form-control" placeholder="End Time" disabled="disabled"
                    value="{{selectedEpisode.endTime | date: 'dd/MM/y, h:mm:ss a'}}" />
                </div>
                <div *ngIf="selectedEpisode && selectedEpisode.goals && selectedEpisode.goals.length > 0"
                  class="form-group">
                  <label>Goals</label>
                  <select multiple class="form-control" disabled="disabled">
                    <option *ngFor="let goal of selectedEpisode.goals">{{goal.goalName}}</option>
                  </select>
                </div>
              </form>
            </ba-card>
            <ba-card baCardClass="with-scroll" class="data-table-container col-md-6 col-sm-12" cardTitle="Conversation">
              <form style="max-height: 400px; overflow:scroll">
                <thead>
                  <th style="width: 50%"></th>
                  <th style="width: 50%"></th>
                </thead>
                <tbody *ngFor="let message of chatMessageList">
                  <tr *ngIf="message.from === 'AUTO'">
                    <td align="left" style="width: 50%">
                      <div class="talk-bubble tri-right round top-left" style="background-color: #E4E4E4">
                        <div class="talktext">
                          <div [innerHTML]="message.messageText"></div>
                        </div>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <tr *ngIf="message.from !== 'AUTO'">
                    <td></td>
                    <td align="right" style="width: 50%">
                      <div class="talk-bubble tri-right round top-right" style="background-color: #B9F1FB">
                        <div class="talktext">
                          <p *ngIf="message.displayText && message.displayText.trim().length > 0">
                            {{message.displayText}}</p>
                          <p *ngIf="!message.displayText || message.displayText.trim().length === 0">
                            {{message.messageText}}</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </form>
            </ba-card>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabFlow" aria-labelledby="flow-tab">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="button" class="btn btn-info btn-with-icon" style="margin-right: 5px"
              (click)="toolsChoice(ZOOM_IN)">
              <i class="fa fa-search-plus" aria-hidden="true"></i>Zoom In</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-info btn-with-icon" style="margin-right: 5px"
              (click)="toolsChoice(ZOOM_OUT)">
              <i class="fa fa-search-minus" aria-hidden="true"></i>Zoom Out</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-info btn-with-icon" style="margin-right: 5px"
              (click)="toolsChoice(ZOOM_ACTUAL)">
              <i class="ion-arrow-expand"></i>Zoom Actual</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-info btn-with-icon" style="margin-right: 5px"
              (click)="toolsChoice(PRINT_PREVIEW)">
              <i class="ion-printer"></i>Print Preview</button>
          </div>
          <br>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="editorGrid" class="col-md-12 col-sm-12 col-xs-12"
              style="height:75vh;overflow:hidden;margin-bottom:1px;border-style:solid;border-color:silver;"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabEmail" aria-labelledby="email-tab"
          *ngIf="sourceEmailTrailList && sourceEmailTrailList.length > 0">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card card-default">
                <div class="card-header">
                  <b>Email Trail</b>
                </div>
                <div class="card-block">
                  <div class="row">
                    <div id="emailAccordion" role="tablist" aria-multiselectable="true"
                      *ngIf="sourceEmailTrailList && sourceEmailTrailList.length > 0">
                      <div *ngFor="let email of sourceEmailTrailList; let index=index" class="panel">
                        <div class="card">
                          <div *ngIf="index == 0" [id]="'emailTabHeading' + index" class="card-header"
                            heightStyle="content" role="tab">
                            <h5 class="mb-0">
                              <a data-toggle="collapse" data-parent="#emailAccordion" [href]="'#emailCollapse' + index"
                                aria-expanded="true" [attr.aria-controls]="'emailCollapse' + index">
                                From - {{email.from}} - {{email.subject}}
                              </a>
                            </h5>
                          </div>
                          <div *ngIf="index != 0" [id]="'emailTabHeading' + index" class="card-header"
                            heightStyle="content" role="tab">
                            <h5 class="mb-0">
                              <a class="collapsed" data-toggle="collapse" data-parent="#emailAccordion"
                                [href]="'#emailCollapse' + index" aria-expanded="false"
                                [attr.aria-controls]="'emailCollapse' + index">
                                From - {{email.from}} - {{email.subject}}
                              </a>
                            </h5>
                          </div>
                          <div *ngIf="index == 0" [id]="'emailCollapse' + index" class="collapse show" role="tabpanel"
                            [attr.aria-labelledby]="'emailTabHeading' + index">
                            <div class="card-block">
                              <form>
                                <div class="form-group">
                                  <label>From: {{email.from}}</label>
                                </div>
                                <div class="form-group">
                                  <label>To: {{email.to}}</label>
                                </div>
                                <div class="form-group">
                                  <label>Subject: {{email.subject}}</label>
                                </div>
                                <div class="form-group">
                                  <label>Body: </label>
                                  <div class="form-control" [innerHTML]="sanitizeHTML(email.htmlText)"></div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div *ngIf="index != 0" [id]="'emailCollapse' + index" class="collapse" role="tabpanel"
                            [attr.aria-labelledby]="'emailTabHeading' + index">
                            <div class="card-block">
                              <form>
                                <div class="form-group">
                                  <label>From: {{email.from}}</label>
                                </div>
                                <div class="form-group">
                                  <label>To: {{email.to}}</label>
                                </div>
                                <div class="form-group">
                                  <label>Subject: {{email.subject}}</label>
                                </div>
                                <div class="form-group">
                                  <label>Body: </label>
                                  <div class="form-control" [innerHTML]="sanitizeHTML(email.body)"></div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tabTimeline" aria-labelledby="timeline-tab">
          <div *ngIf="timelineStates && timelineStates.length > 0" class="row">
            <div class="col-6">
              <div class="card card-default">
                <div class="card-header">
                  <b>States</b>
                </div>
                <div class="card-block">
                  <table class="table table-striped" [mfData]="timelineStates" #mf="mfDataTable" [mfRowsOnPage]="20">
                    <thead>
                      <tr>
                        <th>
                          <mfDefaultSorter by="">
                            <h6>
                              <b>State</b>
                            </h6>
                          </mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="">
                            <h6>
                              <b>Start</b>
                            </h6>
                          </mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="">
                            <h6>
                              <b>End</b>
                            </h6>
                          </mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="">
                            <h6>
                              <b>Status</b>
                            </h6>
                          </mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="">
                            <h6>
                              <b>User</b>
                            </h6>
                          </mfDefaultSorter>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let timelineState of mf.data; let index=index;"
                        (click)="timelineSelect(timelineState)">
                        <td>{{timelineState.stateCd}}</td>
                        <td>{{timelineState.startTime}}</td>
                        <td>{{timelineState.endTime}}</td>
                        <td>{{timelineState.statusCd}}</td>
                        <td>{{timelineState.assignedUserName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div *ngIf="selectedTimeLineState.parameters" class="col-6">
              <div class="card card-default">
                <div class="card-header">
                  <b>State Parameters</b>
                </div>
                <div class="card-block">
                  <table class="table table-striped" [mfData]="selectedTimeLineState.parameters" #mf="mfDataTable"
                    [mfRowsOnPage]="20">
                    <thead>
                      <tr>
                        <th>
                          <mfDefaultSorter by="">
                            <h6>
                              <b>Parameter Key</b>
                            </h6>
                          </mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="">
                            <h6>
                              <b>Parameter Value</b>
                            </h6>
                          </mfDefaultSorter>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tlparam of mf.data; let index=index;">
                        <td>{{tlparam.key}}</td>
                        <td> {{ tlparam.value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ba-card>
</div>
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" attr.aria-labelledby="successModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="successModal">
          Success
        </h4>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" id="modal_body">
        Task completed successfully.
      </div>
      <div class="modal-footer" id="modal_footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onBack()">Ok</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" attr.aria-labelledby="stateModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="userModalLabel">
          Allocate Task
        </h4>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" id="modal_body">
        <form>
          <div class="form-group">
            <label for="selectUser">Select team member</label>
            <select class="selectpicker form-control" required id="selectUser" title="Choose User" [ngModel]="tempUser"
              [ngModelOptions]="{standalone: true}" (ngModelChange)="onUserSelect($event)">
              <option *ngFor="let user of Users" [ngValue]="user">{{user.userName}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer" id="modal_footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="allocate()">Allocate</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="flagTaskModal" tabindex="-1" role="dialog" attr.aria-labelledby="flagmodalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="userModalLabel">
          Flag Reason
        </h4>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="flagClose()">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" id="modal_body">
        <form>
          <div class="form-group" *ngIf="selectedState">
            <label for="selectReason">Select Reason</label>
            <select class="selectpicker form-control" required id="selectReason" title="Choose Flag Reason"
              [ngModel]="selectedState.flagReason" [ngModelOptions]="{standalone: true}"
              (ngModelChange)="onReasonSelect($event)">
              <option *ngFor="let flagReason of FlagReasons" [value]="flagReason">{{flagReason}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer" id="modal_footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="flagClose()">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="confirm()">Confirm</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="flagTaskWarningModal" tabindex="-1" role="dialog" attr.aria-labelledby="flagWarningLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="finalWarningLabel">
          Warning
        </h4>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" id="modal_body">
        The Task is already flagged three times, appropriate action will be taken by the team lead!!!
      </div>
      <div class="modal-footer" id="modal_footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="archiveTaskWarningModal" tabindex="-1" role="dialog"
  attr.aria-labelledby="archiveWarningLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="finalWarningLabel">
          Warning
        </h4>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" id="modal_body">
        The Task will be archived and the associated process will be closed.
      </div>
      <div class="modal-footer" id="modal_footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="archive()">Archive</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="userNotSelected" tabindex="-1" role="dialog" attr.aria-labelledby="archiveWarningLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="finalWarningLabel">
          Warning
        </h4>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" id="modal_body">
        Could not allocate task as no user was selected!!
      </div>
      <div class="modal-footer" id="modal_footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="flagSuccessModal" tabindex="-1" role="dialog" attr.aria-labelledby="flagSuccessModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="flagSuccessModal">
          Success
        </h4>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body" id="modal_body">
        Task Flagged successfully.
      </div>
      <div class="modal-footer" id="modal_footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onBack()">Ok</button>
      </div>
    </div>
  </div>
</div>