<div class="widgets">
  <div class="row">
    <ba-card cardTitle="{{createMode === true ? 'Create Connector Info' : 'Update Connector Info'}}" baCardClass="with-scroll"
      class="col-md-12">
      <div class="panel panel-default">
        <form>
          <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control" required placeholder="Type" [(ngModel)]="connectorInfo.type" name="type" />
          </div>
          <div class="form-group">
            <label>Display Name</label>
            <input type="text" class="form-control" required placeholder="Display Name" [(ngModel)]="connectorInfo.displayName" name="displayName"
            />
          </div>
          <div class="form-group">
            <label>Task Type</label>
            <select class="form-control" required id="taskTypeSelector" title="Choose Task Type" [(ngModel)]="connectorInfo.taskType"
              name="taskType">
              <option *ngFor="let type of taskTypes" [ngValue]="type">{{ type }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Reference Type</label>
            <input type="text" class="form-control" required placeholder="Reference Type" [(ngModel)]="connectorInfo.referenceType" name="referenceType"
            />
          </div>
          <div class="form-group">
            <div id="configAccordian" role="tablist" aria-multiselectable="true" *ngIf="configList.length > 0">
              <div *ngFor="let configParam of configList; let index=index" class="panel">
                <div class="card">
                  <div *ngIf="index == 0" [id]="'vTabHeading' + index" class="card-header" heightStyle="content" role="tab">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-parent="#configAccordian" [href]="'#vCollapse' + index" aria-expanded="false" [attr.aria-controls]="'vCollapse' + index">
                        {{'Click to expand Config Param ' + configParam.get('key')}}
                      </a>
                    </h5>
                  </div>
                  <div *ngIf="index != 0" [id]="'vTabHeading' + index" class="card-header" heightStyle="content" role="tab">
                    <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" data-parent="#configAccordian" [href]="'#vCollapse' + index" aria-expanded="false"
                        [attr.aria-controls]="'vCollapse' + index">
                        {{'Click to expand Config Param ' +configParam.get('key')}}
                      </a>
                    </h5>
                  </div>
                  <div *ngIf="index == 0" [id]="'vCollapse' + index" class="collapse show" role="tabpanel" [attr.aria-labelledby]="'vTabHeading' + index">
                    <div class="card-block">
                      <form>
                        <div class="form-group">
                          <label required for="'veExtractor' + index">
                            Key
                          </label>
                          <input type="text" class="form-control" placeholder="Key" [value]="configParam.get('key')" (input)="configParam.set('key', $event.target.value)">
                        </div>
                        <div class="form-group">
                          <api-checkbox class="col-md-4" [checked]="configParam.get('value')['mandatory']" [label]="'Mandatory'" (event)="configParam.get('value')['mandatory'] = $event.target.checked"></api-checkbox>
                        </div>
                        <div class="form-group">
                          <label>Select Type</label>
                          <select class="form-control" required id="typeSelector" title="Choose Type" [(ngModel)]="configParam.get('value')['type']"
                            name="type">
                            <option *ngFor="let type of types" [ngValue]="type">{{ type }}
                            </option>
                          </select>
                        </div>
                        <div class="form-group" *ngIf='configParam.get("value")["type"] == "list"'>
                          <label required for="'veExtractor' + index">
                            Values
                          </label>
                          <tag-input [(ngModel)]="configParam.get('value')['valueList']" dragZone="tags" name="values" [modelAsStrings]="true" [editable]="true"
                            [separatorKeys]="[32]" placeholder="+Values (Enter separated)" secondaryPlaceholder="Enter a new Value (Enter separated)"
                            theme="minimal" class="custom-input-tag-border">
                          </tag-input>
                        </div>
                        <div class="form-group">
                          <label required for="'veExtractor' + index">
                            Validation Expression
                          </label>
                          <input type="text" class="col-md-12 col-sm-12 col-xs-12 form-control" required [id]="'veExtractor' + index" placeholder="Regex"
                            [(ngModel)]="configParam.get('value')['validationExpr']" name="extractor" />
                        </div>
                        <div class="form-group">
                          <button type="button" class="btn btn-danger" (click)="removeConfigParam(index)">
                            Remove Config Param
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div *ngIf="index != 0" [id]="'vCollapse' + index" class="collapse" role="tabpanel" [attr.aria-labelledby]="'vTabHeading' + index">
                    <div class="card-block">
                      <form>
                        <div class="form-group">
                          <label required for="'veExtractor' + index">
                            Key
                          </label>
                          <input type="text" class="form-control" placeholder="Key" [value]="configParam.get('key')" (input)="configParam.set('key', $event.target.value)">
                        </div>
                        <div class="form-group">
                          <api-checkbox class="col-md-4" [checked]="configParam.get('value')['mandatory']" [label]="'Mandatory'" (event)="configParam.get('value')['mandatory'] = $event.target.checked"></api-checkbox>
                        </div>
                        <div class="form-group">
                          <label>Select Type</label>
                          <select class="form-control" required id="typeSelector" title="Choose Type" [(ngModel)]="configParam.get('value')['type']"
                            name="type">
                            <option *ngFor="let type of types" [ngValue]="type">{{ type }}
                            </option>
                          </select>
                        </div>
                        <div class="form-group" *ngIf='configParam.get("value")["type"] == "list"'>
                          <label required for="'veExtractor' + index">
                            Values
                          </label>
                          <tag-input [(ngModel)]="configParam.get('value')['valueList']" dragZone="tags" name="values" [modelAsStrings]="true" [editable]="true"
                            [separatorKeys]="[32]" placeholder="+Values (Enter separated)" secondaryPlaceholder="Enter a new Value (Enter separated)"
                            theme="minimal" class="custom-input-tag-border">
                          </tag-input>
                        </div>
                        <div class="form-group">
                          <label required for="'veExtractor' + index">
                            Validation Expression
                          </label>
                          <input type="text" class="col-md-12 col-sm-12 col-xs-12 form-control" required [id]="'veExtractor' + index" placeholder="Validation Exp"
                            [(ngModel)]="configParam.get('value')['validationExpr']" name="extractor" />
                        </div>
                        <div class="form-group">
                          <button type="button" class="btn btn-danger" (click)="removeConfigParam(index)">
                            Remove Config Param
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="addConfigParam()">Add Config Param</button>
          </div>
        </form>
      </div>
    </ba-card>
  </div>
  <ba-card cardTitle="Payload">
    <table class="table" [mfData]="payloadList" #mfPayloads="mfDataTable" [mfRowsOnPage]="5">
      <thead>
        <tr>
          <th>Action</th>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payloadParam of mfPayloads.data">
          <td>
            <button type="button" class="btn btn-danger" title="Delete" (click)="removePayloadParam(payloadParam)">
              <i class="ion-close-round"></i>
            </button>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Key" [value]="payloadParam.get('key')" (input)="payloadParam.set('key', $event.target.value)">
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Value" [value]="payloadParam.get('value')" (input)="payloadParam.set('value', $event.target.value)"
            />
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="panel-footer">
      <button type="button" class="btn btn-primary pull-left" (click)="addPayloadParam()">Add Payload Param</button>
    </div>
  </ba-card>
  <div class="panel-footer">
    <button type="button" class="btn btn-success" (click)="createConnectorInfo()"> {{createMode === true ? 'Create' : 'Update'}}</button>
  </div>
</div>