<div class="widgets">
  <div class="row">
    <ba-card cardTitle="{{createMode === true ? 'Create Connector Info' : 'Update Connector Info'}}" baCardClass="with-scroll"
      class="col-md-12">
      <div class="panel panel-default">
        <form>
          <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control" required placeholder="Type" [(ngModel)]="connectorInfo.type" name="type" />
          </div>
          <div class="form-group">
            <label>Display Name</label>
            <input type="text" class="form-control" required placeholder="Display Name" [(ngModel)]="connectorInfo.displayName"
              name="displayName" />
          </div>
          <div class="form-group">
            <label>Task Type</label>
            <input type="text" class="form-control" required placeholder="Task Type" [(ngModel)]="connectorInfo.taskType"
              name="taskType" />
          </div>
          <div class="form-group">
            <label>Reference Type</label>
            <input type="text" class="form-control" required placeholder="Reference Type" [(ngModel)]="connectorInfo.referenceType"
              name="referenceType" />
          </div>



          <div class="form-group">
            <button type="button" class="btn btn-success pull-right" (click)="createConnectorInfo()">
              {{createMode === true ? 'Create' : 'Update'}}
            </button>
          </div>
        </form>
      </div>
    </ba-card>
  </div>
</div>