<api-daterangepicker (selectedRange)="fetchFlowStats($event)"></api-daterangepicker>

<div class="row tile_count">
    <div *ngIf="workflowSummary" class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-tasks"></i>Total Active Tasks</span>
        <div class="count">{{workflowSummary.no_of_active_states}}</div>
    </div>
    <div *ngIf="workflowSummary" class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-tasks"></i>Total Closed Tasks</span>
        <div class="count">{{workflowSummary.no_of_closed_states}}</div>
    </div>
    <div *ngIf="workflowSummary" class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-tasks"></i>Total Active Processes</span>
        <div class="count">{{workflowSummary.no_of_active_business_process}}</div>
    </div>
    <div *ngIf="workflowSummary" class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-tasks"></i>Total Closed Processes</span>
        <div class="count">{{workflowSummary.no_of_closed_business_process}}</div>
    </div>
    <div *ngIf="workflowSummary" class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-users"></i>Resource Efficiency</span>
        <div class="count">{{workflowSummary.res_allocated_efficiency}}</div>
    </div>
    <div *ngIf="workflowSummary" class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i>Average Time in Task</span>
        <div class="count">{{workflowSummary.avg_time_state}}</div>
    </div>
    
</div>

<div class="row">
    <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" cardTitle="Process Timeline">
        <nvd3 [options]="flowTimelineOptions" [data]="flowTimelineData"></nvd3>
    </ba-card>
</div>

<div class="row">
    <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" cardTitle="Range of Transactions in each Task">
        <nvd3 [options]="rangeOfTransactionInStatesOptions" [data]="rangeOfTransactionInStatesData"></nvd3>
    </ba-card>
</div>
    

<!-- <div class="row">
    <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" cardTitle="Group Resource Allocation in each Task">
        <nvd3 [options]="groupResourceAllocationInStatesOptions" [data]="groupResourceAllocationInStatesData"></nvd3>
    </ba-card>
</div> -->

<div class="row">
    <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" cardTitle="Transaction Value in each Task">
        <nvd3 [options]="transactionValueInStatesOptions" [data]="transactionValueInStatesData"></nvd3>
    </ba-card>
</div>

<div class="row">
    <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" cardTitle="Average Time in Task">
        <nvd3 [options]="avgTimeInStatesOptions" [data]="avgTimeInStatesData"></nvd3>
    </ba-card>
</div>


<div class="row">
    <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" cardTitle="Resources Consumption">
        <div class="row tile_count">
            <div *ngIf="statesConsumingMaxResTimeTransaction" class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>Task Consuming Max Resources</span>
                <div class="count">{{statesConsumingMaxResTimeTransaction.stateConsumeMaxRes}}</div>
            </div>
            <div *ngIf="statesConsumingMaxResTimeTransaction" class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>Resources</span>
                <div class="count">{{statesConsumingMaxResTimeTransaction.resources}}</div>
            </div>
            <div *ngIf="statesConsumingMaxResTimeTransaction" class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>Resource Count</span>
                <div class="count">{{statesConsumingMaxResTimeTransaction.resourceCount}}</div>
            </div>
        </div>
    </ba-card>
</div>

<div class="row">
    <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" cardTitle="Time Consumption">
        <div class="row tile_count">
            <div *ngIf="statesConsumingMaxResTimeTransaction" class="col-md-6 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>Task Consuming Max Time</span>
                <div class="count">{{statesConsumingMaxResTimeTransaction.stateConsumeMaxtime}}</div>
            </div>
            <div *ngIf="statesConsumingMaxResTimeTransaction" class="col-md-6 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>Average Time (minutes)</span>
                <div class="count">{{statesConsumingMaxResTimeTransaction.averageTime}}</div>
            </div>
        </div>     
    </ba-card>
</div>

<div class="row">
    <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" cardTitle="Transaction Consumption">
        <div class="row tile_count">
            <div *ngIf="statesConsumingMaxResTimeTransaction" class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>Task Consuming Max Transaction</span>
                <div class="count">{{statesConsumingMaxResTimeTransaction.stateConsumeMaxTransaction}}</div>
            </div>
            <div *ngIf="statesConsumingMaxResTimeTransaction" class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>Trnsaction Values</span>
                <div class="count">{{statesConsumingMaxResTimeTransaction.transactionValues}}</div>
            </div>
            <div *ngIf="statesConsumingMaxResTimeTransaction" class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>Total Value</span>
                <div class="count">{{statesConsumingMaxResTimeTransaction.totalTransactionValue}}</div>
            </div>
        </div>
    </ba-card>
</div>