<div class="widgets">
  <div class="row">
    <ba-card cardTitle="Upload Excel" baCardClass="with-scroll" class="data-table-container">
      <ba-file-uploader [fileUploaderOptions]="fileUploaderOptions" (onFileUpload)="onFileUpload($event)" (onFileUploadComplete)="onFileUploadComplete($event)"></ba-file-uploader>
    </ba-card>
  </div>
  <div class="row">
    <ba-card cardTitle="Training Data" baCardClass="with-scroll" class="data-table-container">
      <div class="panel panel-default">
        <table class="table table-striped" [mfData]="trainingDataList | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10"
          mfSortBy="_id">
          <thead>
            <tr>
              <th colspan="100%">
                Filter Results:
                <input class="form-control" [(ngModel)]="filterQuery" placeholder="Filter Query" />
              </th>
            </tr>
            <tr>
              <th>
                <mfDefaultSorter by="intentName">Intent Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="sentiment">Sentiment</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="pref_language">Preferred Langguage</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="requestMessage">Request Message</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="responseMessage">Response Message</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter [by]="toInt(level)">Level</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="updateExcelFlag">Update Excel Flag</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="thirdPartyEntity">3rd Party Entity</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let training of mf.data" (click)="onSelect(training)" data-toggle="modal" data-target="#detailsModal">
              <td>{{training.intentName}}</td>
              <td>{{training.sentiment}}</td>
              <td>{{training.pref_language}}</td>
              <td>{{training.requestMessage}}</td>
              <td>{{training.responseMessage}}</td>
              <td>{{training.level}}</td>
              <td>{{training.updateExcelFlag}}</td>
              <td>{{training.thirdPartyEntity}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="100%">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </ba-card>
  </div>
</div>