<div class="widgets">
  <div class="row">
    <ba-card cardTitle="All Domains" baCardClass="with-scroll" class="data-table-container">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tab_active" role="tab" aria-expanded="true">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tab_archived" role="tab">Archived</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="tab_active">
          <div class="panel panel-default">
            <form class="row form-inline">
              <div class="form-group col-sm-10">
                <input class="form-control" [(ngModel)]="filterQuery" name="filterQuery" placeholder="Filter Domains" />
              </div>
              <div class="form-group col-sm-2">
                <button type="button" class="btn btn-primary" (click)="onDomainSelect()">
                  Create Domain
                </button>
              </div>
            </form>
            <br>
    
            <table class="table table-striped" [mfData]="domainSource | universalDataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10" mfSortBy="name">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                  </th>
                  
                  <th>
                    <mfDefaultSorter by="langSupported">Languages Supported</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="version">Version</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="domainGoals">Action</mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let domain of mf.data">
                  <td>{{domain.name}}</td>
                  <td>{{arrayToString(domain.langSupported)}}</td>
                  <td>{{domain.statusCd}}</td>
                  <td >{{domain.version}}</td>
                  <td *ngIf="domain.statusCd && domain.statusCd === DRAFT">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="Edit" (click)="onDomainSelect(domain, OPEN_IN_EDIT_MODE)">
                        <i class="ion-edit"></i>
                      </button>
                      <button type="button" class="btn btn-primary" title="Publish" (click)="onDomainSelect(domain)" data-toggle="modal" data-target="#finalWarningModal">
                        <i class="fa fa-check-square-o"></i>
                      </button>
                    </div>
                  </td>
                  <td *ngIf="domain.statusCd && domain.statusCd === CLONED">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="Edit" (click)="onDomainSelect(domain, OPEN_IN_EDIT_MODE)">
                        <i class="ion-edit"></i>
                      </button>
                      <button type="button" class="btn btn-primary" title="Publish" (click)="onDomainSelect(domain)" data-toggle="modal" data-target="#finalWarningModal">
                        <i class="fa fa-check-square-o"></i>
                      </button>
                    </div>
                  </td>
                  <td *ngIf="domain.statusCd && domain.statusCd === CLOSED">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="View" (click)="onDomainSelect(domain, OPEN_IN_READONLY_MODE)">
                        <i class="ion-eye"></i>
                      </button>
                      <button type="button" class="btn btn-primary" title="Activate" (click)="activateDomain(domain)">
                        <i class="ion-power"></i>
                      </button>
                      <button type="button" class="btn btn-primary" title="Clone" (click)="onDomainSelect(domain, CLONE_AND_EDIT_MODE)">
                        <i class="fa fa-clone"></i>
                      </button>
                    </div>
                  </td>
                  <td *ngIf="domain.statusCd && domain.statusCd === ACTIVE">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="View" (click)="onDomainSelect(domain, OPEN_IN_READONLY_MODE)">
                        <i class="ion-edit"></i>
                      </button>
                      <button type="button" class="btn btn-primary" title="Deactivate" (click)="deactivateDomain(domain)">
                        <i class="ion-close-round"></i>
                      </button>
                      <button type="button" class="btn btn-primary" title="Clone" (click)="onDomainSelect(domain, CLONE_AND_EDIT_MODE)">
                        <i class="fa fa-clone"></i>
                      </button>
                    </div>
                  </td>
                  <td *ngIf="!domain.statusCd">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" title="View" (click)="onDomainSelect(domain)">
                        <i class="ion-edit"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="100%">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_archived">
            <!-- <table class="table table-striped" [mfData]="domainSourceClosed | universalDataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10" mfSortBy="name">
                <thead>
                  <tr>
                    <th>
                      <mfDefaultSorter by="name">Name</mfDefaultSorter>
                    </th>
                    
                    <th>
                      <mfDefaultSorter by="langSupported">Languages Supported</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="status">Status</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="version">Version</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="domainGoals">Action</mfDefaultSorter>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let domain of mf.data">
                    <td>{{domain.name}}</td>
                    <td>{{arrayToString(domain.langSupported)}}</td>
                    <td>{{domain.statusCd}}</td>
                    <td >{{domain.version}}</td>
                    <td *ngIf="domain.statusCd && domain.statusCd === DRAFT">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" title="Edit" (click)="onDomainSelect(domain, OPEN_IN_EDIT_MODE)">
                          <i class="ion-edit"></i>
                        </button>
                        <button type="button" class="btn btn-primary" title="Publish" (click)="onDomainSelect(domain)" data-toggle="modal" data-target="#finalWarningModal">
                          <i class="fa fa-check-square-o"></i>
                        </button>
                      </div>
                    </td>
                    <td *ngIf="domain.statusCd && domain.statusCd === CLONED">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" title="Edit" (click)="onDomainSelect(domain, OPEN_IN_EDIT_MODE)">
                          <i class="ion-edit"></i>
                        </button>
                        <button type="button" class="btn btn-primary" title="Publish" (click)="onDomainSelect(domain)" data-toggle="modal" data-target="#finalWarningModal">
                          <i class="fa fa-check-square-o"></i>
                        </button>
                      </div>
                    </td>
                    <td *ngIf="domain.statusCd && domain.statusCd === CLOSED">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" title="View" (click)="onDomainSelect(domain, OPEN_IN_READONLY_MODE)">
                          <i class="ion-eye"></i>
                        </button>
                        <button type="button" class="btn btn-primary" title="Activate" (click)="activateDomain(domain)">
                          <i class="ion-power"></i>
                        </button>
                        <button type="button" class="btn btn-primary" title="Clone" (click)="onDomainSelect(domain, CLONE_AND_EDIT_MODE)">
                          <i class="fa fa-clone"></i>
                        </button>
                      </div>
                    </td>
                    <td *ngIf="domain.statusCd && domain.statusCd === ACTIVE">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" title="View" (click)="onDomainSelect(domain, OPEN_IN_READONLY_MODE)">
                          <i class="ion-edit"></i>
                        </button>
                        <button type="button" class="btn btn-primary" title="Deactivate" (click)="deactivateDomain(domain)">
                          <i class="ion-close-round"></i>
                        </button>
                        <button type="button" class="btn btn-primary" title="Clone" (click)="onDomainSelect(domain, CLONE_AND_EDIT_MODE)">
                          <i class="fa fa-clone"></i>
                        </button>
                      </div>
                    </td>
                    <td *ngIf="!domain.statusCd">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" title="View" (click)="onDomainSelect(domain)">
                          <i class="ion-edit"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="100%">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
            </table> -->
        </div>
      </div>
    </ba-card>
  </div>
</div>


