<div class="widgets">
  <div class="row">
    <ba-card cardTitle="Routes Master" baCardClass="with-scroll" class="data-table-container">
      <div class="panel panel-default">
        <form class="row form-inline">
          <div class="form-group col-sm-10">
            <input class="form-control" [(ngModel)]="filterQuery" name="filterQuery" placeholder="Filter Query" />
          </div>
          <div class="form-group col-sm-2">
            <button type="button" class="btn btn-primary" (click)="onSelect(null)" data-toggle="modal" data-target="#detailsModal">
                Add Route
              </button>
          </div>
        </form>
        <br>

        <table class="table table-striped" [mfData]="roleRouteList | universalDataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10"
          mfSortBy="_id">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="roleCd">Role</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="entityId">Route Access</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let roleRouteMap of mf.data" (click)="onSelect(roleRouteMap)" data-toggle="modal" data-target="#detailsModal">
              <td>{{roleRouteMap.roleCd}}</td>
              <td>{{roleRouteMap.entityId}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="100%">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </ba-card>
  </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" attr.aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="detailsModalLabel">
          {{modalHeader}}
        </h4>
        <button type="button" class="close" data-dismiss="modal" [disabled]="loading">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form *ngIf="selectedRoleRouteMap">
          <div class="form-group">
            <label>Role</label>
            <select class="selectpicker form-control" required title="Select role" [(ngModel)]="selectedRoleRouteMap.roleCd"
              name="roleCd">
                  <option *ngFor="let role of roleMasterList" [value]="role">{{role}}</option>
                </select>
          </div>
          <div class="form-group">
            <label>Route</label>
            <select class="selectpicker form-control" required title="Select route" [(ngModel)]="selectedRoleRouteMap.entityId"
              name="entityId">
                    <option *ngFor="let route of routeMasterList" [value]="route">{{route}}</option>
                  </select>
          </div>
          <div class="ln_solid"></div>
        </form>

        <!-- Modal Footer -->
        <div class="modal-footer" id="settingsModalFooter">
          <button type="button" class="btn btn-default" data-dismiss="modal" [disabled]="loading">Close</button>
          <button *ngIf="!createMode" type="button" class="btn btn-danger" (click)="deleteRoute()" [disabled]="loading">Delete</button>
          <button *ngIf="!createMode" type="submit" class="btn btn-success" (click)="updateRoute()" [disabled]="loading">Update</button>
          <button *ngIf="createMode" type="submit" class="btn btn-success" (click)="createRoute()" [disabled]="loading">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>