<div class="widgets">
  <div class="row">
    <ba-card baCardClass="with-scroll" class="data-table-container">
      <div class="panel panel-default">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab_personal" role="tab" aria-expanded="true">Personal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab_group" role="tab">Group</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade show active" id="tab_personal">
            <apitable *ngIf="personalStates" [rawDataArray]="personalStates" [isLoading]="loadingPersonal" (selectedData)="onSelect($event)"></apitable>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tab_group">
            <apitable *ngIf="groupStates" [rawDataArray]="groupStates" [isLoading]="loadingGroup" (selectedData)="onSelect($event)"></apitable>
          </div>
        </div>
      </div>
    </ba-card>
  </div>
</div>